.container 
{
    margin: 0px;
    padding:0px;
    position: relative;
    background: #000;
}

#study_info
{
/*     position: absolute; */
    text-align: right;
/*     top: 85px; */
/*     right: 10px; */
/*     width: 100%; */
    color: #000;
    text-decoration: none;
    font: 15px normal Arial, Helvetica, sans-serif;
}


a.link:hover, a.link:link, a.link:visited, a.link:active
{ 
    color: #000;
}

