#qiita-main {
  position: relative;
  height: 100%;
  width: 100%;
}
#template-content{
  padding: 10px;
  height: 100%;
  width: 100%;
}

td.more-info-processing-jobs{
  cursor: pointer;
  background: url('../img/details_open.png') no-repeat center center;
}
tr.shown td.more-info-processing-jobs{
  cursor: pointer;
  background: url('../img/details_close.png') no-repeat center center;
}

div.details-control{
  cursor: pointer;
  background: url('../img/details_open.png') no-repeat center center;
}
tr.shown div.details-control{
  cursor: pointer;
  background: url('../img/details_close.png') no-repeat center center;
}

.blinking-message {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.3; background: #CCC;}
  100% { opacity: 1.0; background: #FFF;}
}

/* table in the study description that holds the investigation type elements */
.investigation-type-table td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.dropdown:hover .dropdown-menu{
    display: block;
 }

/* hover is a pseudoclass and can't be controlled - use the class below to trigger
the same behavior as the hover pseudoclass */
.custom-dropdown-menu {
    display: block;
}

 .info-menu {
    word-wrap: break-word;
    white-space: normal;
 }

 .info-menu > li > a {
  display: inline;
  color:#428bca;
  padding:0px;
}

.truncated {
  white-space: nowrap;
  width:300px;
  overflow: hidden;
  text-overflow: ellipsis;

 .topfloat{
    position: fixed;
    padding-top: 5px;
    height:55px;
    top:50px;
    z-index:6;
    background:white;
    width:100%;
  }

.graph {
  width:100%;
  height:300px;
  border: 1px solid #ccc;
}
