#template-content{
  padding: 10px;
  height: 100%;
  width: 100%;
}

/* table in the study description that holds the investigation type elements */
.investigation-type-table td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }