# this file is based on the examples provided on scikit-learn's .coveragerc

[run]
omit =
    */test*
    */__init__.py

    # these files will be ommited from coveralls because they contain test
    # of the environment and methods they are executed regularly by travis,
    # then there should not be concern over their "correctness".
    qiita_core/environment_manager.py
source = qiita_core,qiita_ware,qiita_db,qiita_pet
branch = True
include = */qiita_*/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */test*
    */__init__.py
