*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Config files
config.py

# OSX files
.DS_Store

# vi swap and temp files
*.swp
*.swo
*~

# don't show the data on git status
qiita_db/support_files/test_data

# ignoring redis files
dump.rdb

# ignoring the reference file that (might) be downloaded during env creation
gg_97_otus_4feb2011.tre
gg_13_8-*

# sphinx documentation
qiita_pet/static/doc/
