include README.rst
include INSTALL.md
include LICENSE

graft qiita_core
graft qiita_db
graft qiita_pet
graft qiita_ware
graft scripts

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *~
