{% from qiita_core.qiita_settings import qiita_config %}

<script type="text/javascript">
  function toggle_color_prep(div){
    div.parent().children().each(function() {
      $(this).css("background-color", "#FFFFF");
    });
    div.css("background-color", "#EEE");
  }
</script>

{% if prep_info %}
  <h3>Data Types <small>(click on the tabs)</small></h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      {% for dt in prep_info %}
      {% set cleaned_dt = dt.replace(' ', '_') %}
        <div class="panel-heading" role="tab" id="heading{{cleaned_dt}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cleaned_dt}}" aria-expanded="true" aria-controls="collapse{{cleaned_dt}}">
              <span class="glyphicon glyphicon-th-list"></span>
              {{dt}}
            </a>
          </h4>
        </div>
        <div id="collapse{{cleaned_dt}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{cleaned_dt}}">
          <div class="panel-body" style="padding: 0px 0px 0px 0px; border: none;">
            {% for prep in prep_info[dt] %}
              <div class="panel-body-element" style="padding: 20px 20px 20px 20px;">
                {% if prep['ebi_experiment'] %}
                  <img src="{% raw qiita_config.portal_dir %}/static/img/ena.png" style="width:20px;height:20px;"> ({{prep['ebi_experiment']}})
                {% end %}
                <a href="#" style="display:block;color:black;" onclick="toggle_color_prep($(this).parent()); populate_main_div('{% raw qiita_config.portal_dir %}/study/description/prep_template/', { prep_id: {{prep['id']}}, study_id: {{study_id}} });">
                  <span id="prep-header-{{prep['id']}}">
                    {{prep['name']}} - ID {{prep['id']}} - {{prep['status']}}
                  </span><br/>
                  {{prep['start_artifact']}} - ID {{prep['start_artifact_id']}}<br/>
                  {{prep['youngest_artifact']}}
                </a>
              </div>
            {% end %}
          </div>
        </div>
      {% end %}
    </div>
  </div>
{% else %}
<h4>No preparation information has been added yet</h4>
{% end %}
