{% from qiita_core.qiita_settings import qiita_config %}

<style>
  .green {
    color: green;
  }

  .red {
    color: red;
  }
</style>


<script type="text/javascript">
  function toggle_color_prep(div){
    div.parent().children().each(function() {
      $(this).css("background-color", "#FFFFF");
    });
    div.css("background-color", "#EEE");
  }

  $('input').on('input', function() {
    if (!this.id.startsWith('prep-filter-')){
      return
    }
    var text = $(this).val().toLowerCase();
    var dt = this.id.substring(12);
    var preps = document.getElementById('prep-tabs-' + dt).children;
    for (i = 0; i < preps.length; i++){
      if (preps[i].innerText.toLowerCase().indexOf(text) > -1){
        preps[i].style.display = "block";
      } else {
        preps[i].style.display = "none";
      }
    }
});
</script>

<!-- <script src="https://use.fontawesome.com/0c9cdb020f.js"></script> -->

{% if prep_info %}
  <h3>Data Types <small>(click on the tabs)</small></h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      {% for dt in prep_info %}
      {% set cleaned_dt = dt.replace(' ', '_') %}
        <div class="panel-heading" role="tab" id="heading{{cleaned_dt}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cleaned_dt}}" aria-expanded="true" aria-controls="collapse{{cleaned_dt}}">
              <span class="glyphicon glyphicon-th-list"></span>
              {{dt}}
            </a>
          </h4>
        </div>
        <div id="collapse{{cleaned_dt}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{cleaned_dt}}">
          <input type="text" id="prep-filter-{{cleaned_dt}}" placeholder="Search...">
          <div class="panel-body" style="padding: 0px 0px 0px 0px; border: none;" id="prep-tabs-{{cleaned_dt}}">
            {% for prep in prep_info[dt] %}
              <div class="panel-body-element" style="padding: 20px 20px 20px 20px;" id="prep-{{prep['id']}}">
                Samples: {{ prep['total_samples'] }}{% if prep['ebi_experiment'] %}, <img src="{% raw qiita_config.portal_dir %}/static/img/ena.png" style="width:20px;height:20px;"> {{prep['ebi_experiment']}} {% end %}
                <a href="#" style="display:block;color:black;" onclick="toggle_color_prep($(this).parent()); populate_main_div('{% raw qiita_config.portal_dir %}/study/description/prep_template/', { prep_id: {{prep['id']}}, study_id: {{study_id}} });">
                  <span id="prep-header-{{prep['id']}}">
                    {{prep['name']}} - ID: {{prep['id']}} - {{prep['status']}}
                  </span><br/>
                    Raw files {% if prep['start_artifact'] == 'FASTQ' %}<i class="fa fa-check green"></i>{% else %}<i class="fa fa-times red"></i>{% end %}, processed {% if prep['num_artifact_children'] > 0 %}<i class="fa fa-check green"></i> {% if prep['num_artifact_children'] > 1 %} <i class="fa fa-check green"></i>{% end%}{% else %}<i class="fa fa-times red"></i>{% end %}, BIOM {% if prep['youngest_artifact_type'] == 'BIOM' %}<i class="fa fa-check green"></i>{% else %}<i class="fa fa-times red"></i>{% end %}
                  <br />
                  Created: {{prep['creation_timestamp'].strftime('%B %-d, %Y')}}, last updated: {{prep['modification_timestamp'].strftime('%B %-d, %Y')}}
                </a>
              </div>
            {% end %}
          </div>
        </div>
      {% end %}
    </div>
  </div>
{% else %}
<h4>No preparation information has been added yet</h4>
{% end %}
