{% from future.utils import viewitems %}
<div class="panel panel-default">
  <div class="panel-heading">
    Information summary
  </div>
  <div id="summary-table-div">
    <table class="table">
      {% for category, summary in viewitems(stats) %}
        {% if len(summary) == 1 %}
          <tr>
            <td>
              <a class="btn btn-danger" onclick="delete_prep_column({{pid}}, '{{category}}');"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td colspan="2">
              <b>{{category}}</b>: <tt>{{summary[0][0]}}</tt> is repeated in all rows.
            </td>
          </tr>
        {% elif len(set([row[1] for row in summary])) == 1 %}
          <tr>
            <td>
              <a class="btn btn-danger" onclick="delete_prep_column({{pid}}, '{{category}}');"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td colspan="2">
              <b>{{category}}</b>: All the values in this category are different.
            </td>
          </tr>
        {% else %}
          <tr>
            <td>
              <a class="btn btn-danger" onclick="delete_prep_column({{pid}}, '{{category}}');"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <th colspan="2" align="center">{{category}}</th>
          </tr>
          {% for row in summary %}
            <tr>
              <td width="5px">&nbsp;</td>
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
            </tr>
          {% end %}
        {% end %}
      {% end %}
    </table>
  </div>
</div>
