<script type="text/javascript">
  var processing_network;
  var nodes = new vis.DataSet([{id: {{artifact_id}}, label: "{{name}} - ({{type}})", group: "type"}]);
  var edges = new vis.DataSet();

  function load_job(p_nodes) {
    console.log("load_job");
  }

  function add_job(p_nodes) {
      console.log("add_job");
  }

  function load_command_options(cmd_id) {
    console.log("TEST");
  }

  function load_artifact_type(p_nodes) {
    var types = []
    var rx = /\w*- \(([a-zA-Z ]*)\)$/g;
    var t;
    for(var i=0; i < p_nodes.length; i++) {
      t = rx.exec(nodes.get(p_nodes[i]).label);
      t = t[1];
      if(types.indexOf(t) === -1) {
        types.push(t);
      }
    }
    $.get('/study/process/commands/', {artifact_types: types})
      .done(function (data) {
        $("#processing-info-div").empty();
        commands = data.commands;
        $("#processing-info-div").html("<h4><i>Available commands</i></h4>");
        var sel = $('<select>').appendTo('#processing-info-div');
        sel.attr('id', 'command-sel').attr('name', 'command');
        sel.append($("<option>").attr('value', "").text("Choose command..."));
        for(var i=0;i<commands.length;i++) {
          console.log(commands[i]);
          sel.append($("<option>").attr('value', commands[i].id).text(commands[i].command));
        }
        sel.change(function(event) {
          var v = $("#command-sel").val()
          if (v !== "") {
            load_command_options(v);
          }
        });
        var select = $('<button>').appendTo('#processing-info-div');
        select.addClass('btn btn-xs').text('Add Command').click(function () { add_job(p_nodes); });
      });

  }

  $(document).ready(function() {
    // Create the network object
    var container = document.getElementById('graph-network-div');
    var data = {nodes: nodes, edges: edges};
    var options = {
      nodes: {
        color: {highlight: {border: "yellow"}},
        font: '14px arial black'
      },
      edges: {
        color: 'grey'
      },
      layout: {
        hierarchical: {
          direction: "LR",
          sortMethod: "directed",
          levelSeparation: 150
        }
      },
      interaction: {
        dragNodes: false,
        dragView: false,
        zoomView: false,
        selectConnectedEdges: false,
        multiselect: true,
        navigationButtons: true,
        keyboard: true
      },
      groups: {
        type: {shape: "ellipse", color: "#cef"},
        job: {shape: "box", color: "#9fd"}
      }
    };
    processing_network = new vis.Network(container, data, options);
    processing_network.on('select', function(params) {
      // Update the GUI with the information for the selected node type
      if(params.nodes.length !== 0) {
        // Make sure all selcted nodes are of same group
        var group = nodes.get(params.nodes[0]).group;
        for(var i=0; i<params.nodes.length; i++) {
          if(nodes.get(params.nodes[i]).group != group) {
            $("#processing-info-div").empty();
          }
        }
        if(group == 'job') {
          load_job(params.nodes);
        }
        else if(group == 'type') {
          load_artifact_type(params.nodes);
        }
        else {
          $("#processing-info-div").empty();
        }
      }
    });
  });
</script>

<!-- Title -->
<div class="row">
  <div class="col-md-12">
    <h4>Processing {{name}} (ID: {{artifact_id}})</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- <h4><a class="btn btn-info" id="show-hide-btn" onclick="toggle_graphs();">-</a><i> Processing workflow</i></h4> -->
    <h4><a class="btn btn-info" id="show-hide-btn" onclick="console.log('clicked');">-</a><i> Processing workflow</i></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 graph" id="graph-network-div">
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="processing-info-div">
  </div>
</div>
