<link rel="stylesheet" href="/static/vendor/css/slick.grid.css" type="text/css"/>
<style>
  .slick-header-column.ui-state-default {
    height: 100%;
  }
</style>

<p><table style='width:100%'><tr><td><h3>Sample Summary</h3></td><td style="text-align: right">
Add sample column information to table 
<select id="meta_col" name="meta_col">
  <option value=""></option>
{% for col in meta_available %}
  <option value="{{col}}">{{col}}</option>
{% end %}
</select>
<button class="btn btn-info btn-sm" onclick="add_meta()">Add column</button>
</td></tr></table>
<div id="samples-div" style="width:100%;height:800px;"></div>

<script src="/static/vendor/js/jquery.event.drag-2.2.js"></script>
<script src="/static/vendor/js/slick.core.js"></script>
<script src="/static/vendor/js/slick.grid.js"></script>
<script type="text/javascript">
  function add_meta() {
    var meta_val = $("#meta_col").val();
    $.post("/study/description/sample_summary/", {study_id: {{study_id}}, meta_col: meta_val })
      .done( function ( data ) {
        if(data.status == "success"){
          addColumn(meta_val, data.values);
        } else {
          bootstrapAlert(data.message.replace("\n", "<br/>"), "danger", 4000);
        }
      });
  }

//Modified from code released to public domain at http://www.mredkj.com/tutorials/tableaddcolumn.html
function addColumn(header, values)
{
  var tblHeadObj = document.getElementById("samples-table").tHead;
  for (var h=0; h<tblHeadObj.rows.length; h++) {
    var newTH = document.createElement('th');
    newTH.id = header;
    tblHeadObj.rows[h].appendChild(newTH);
    newTH.innerHTML = header + '<a style="text-align:right" href="#" onclick="deleteColumn(\'' + header +'\')">(x)</a>';
  }

  var tblBodyObj = document.getElementById("samples-table").tBodies[0];
  for (var i=0; i<tblBodyObj.rows.length; i++) {
    var newCell = tblBodyObj.rows[i].insertCell(-1);
    newCell.innerHTML = values[i];
  }
}
function deleteColumn(col_id)
{
  var allRows = document.getElementById("samples-table").rows;
  console.log($("#" + col_id));
  var col = $("#" + col_id).parent().children().index($("#" + col_id));
  for (var i=0; i<allRows.length; i++) {
    allRows[i].deleteCell(col);
  }
  cols_count -= 1;
}
$(document).ready(function() {
  var True = true;
  var False = false;
  var table = {% raw table %};
  var cols = {% raw cols %};
  var options = { enableCellNavigation: false };
  var currentSortCol = 'sample';
  grid = new Slick.Grid("#samples-div", table, cols, options);
  grid.headerRowHeight = 40;
});
</script>