{% extends sitebase.html %}
{% block head %}

<script type="text/javascript">
$(document).ready(function() {
    $('#admin-approval-table').dataTable({"order": [[ 1, "asc" ]]});
});
</script>
{% end %}
{% block content %}
<h2>Studies awaiting approval</h2>
<table id='admin-approval-table' class="display table-bordered table-hover">
	<thead>
		<tr>
			<td>Study Title</td><td>Study Owner</td><td>Processed data</td>
		</tr>
	</thead>
{% for study_id, study_title, study_owner, pds in study_info %}
	<tr>
	  <td><a href='{% raw qiita_config.portal_dir %}/study/description/{{study_id}}?top_tab=processed_data_tab'>{{study_title}}</a></td>
	  <td>{{study_owner}}</td>
	  <td>
	  	<a href="{% raw qiita_config.portal_dir %}/study/description/{{study_id}}?top_tab=processed_data_tab&sub_tab={{pds[0]}}">{{pds[0]}}</a>
	    {% for pd in pds[1:] %}
	    	, <a href="{% raw qiita_config.portal_dir %}/study/description/{{study_id}}?top_tab=processed_data_tab&sub_tab={{pd}}">{{pd}}</a>
	    {% end %}
	  </td>
	</tr>
{% end %}
</table>
{% end %}
