{% extends sitebase.html %}
{% block head %}
{% from future.utils import viewitems %}
{% from itertools import chain %}
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/moi.js"></script>
<script type="text/javascript">

function error(evt) { $('#ws-error').html("<b>Server communication error. Sample removal will not be recorded. Please try again later.</b>"); };
function check_empty() {
  if($('.row').length <= 1) {
    $('#dflt-sel-info').removeAttr('style');
    $('.topfloat').hide();
    $('#no-selected').show();
  }
}

function clear() {
  if(confirm('Are you sure you want to remove all samples?')) {
    moi.send('clear', {'pids': {% raw [int(p) for p in chain.from_iterable(pid.keys() for sid, pid in viewitems(sel_data))] %} });
  }
}

function clear_from_html(data) {
  $.each($('.row'), function(index, value) { value.remove(); });
  check_empty();
}

function remove_proc_data(pid, sid) {
  if(confirm('Are you sure you want to remove all samples for this processed data?')) {
    moi.send('remove_pd', {'proc_data': pid, 'samples': [], 'sid': sid});
  }
}

function remove_pd_from_html(data) {
    pid = data.proc_data;
    sid = data.sid;
    $('#proc' + pid).remove();
    $('#proc' + pid + '-samples').remove();
    // remove study if all proc data removed
    if($('#study'+ sid + '-table tbody').children().length === 1) { $('#study'+sid).remove(); }
    check_empty();
}

function remove_sample(sid, pid, sample) { moi.send('remove_sample', {'proc_data': pid, 'samples': [sample], 'sid': sid}); }

function remove_sample_from_html(data) {
    pid = data.proc_data;
    sample = data.samples[0];
    sid = data.sid;
    document.getElementById(pid + '@' + sample).remove();
    //decriment sample count for pid
    var count = $('#proc' + pid + '-sample-count');
    count.text(parseInt(count.text(), 10) - 1);
    // remove proc data if all samples removed
    if($('#proc' + pid + '-samples-table tbody').children().length === 0) { $('#proc'+pid).remove(); $('#proc' + pid + '-samples').remove(); }
    // remove study if all proc data removed
    if($('#study'+ sid + '-table tbody').children().length === 1) { $('#study'+sid).remove(); }
    check_empty();
}
$(document).ready(function() {
      moi.init(null, window.location.host + '{% raw qiita_config.portal_dir %}/analysis/selected/socket/', function(){}, error, error);
      moi.add_callback('remove_pd', remove_pd_from_html);
      moi.add_callback('remove_sample', remove_sample_from_html);
      moi.add_callback('clear', clear_from_html);
      $('#clear-button').on('click', clear);
      {% if sel_data %}$('#no-selected').hide(){% end %}
    });
</script>
{% end %}

{% block content %}
&nbsp;<br/>
<h1>Selected Samples</h1>
<span id="ws-error" style="color:red"></span>
<div id="no-selected" class="jumbotron">
  <h1>No samples selected</h1>
  <h3><a href="{% raw qiita_config.portal_dir %}/study/list/">Please select at least one sample to continue</a><h3>
</div>
{% if sel_data %}
<div class="row topfloat">
  <div class="col-lg-12">
    <button type="button" class="btn btn-success btn-sm" id="create-button" name="create-button" data-toggle="modal" data-target="#create-analysis-modal-view">
      Create Analysis
    </button>
    <button type="button" class="btn btn-danger btn-sm" id="clear-button" name="clear-button">
      Clear Selected
    </button>
  </div>
</div>
{% end %}

{% for study, proc_datas in viewitems(sel_data) %}
<div class="row" id="study{{study.id}}">
  <div class="col-md-12" style="border:2px solid #a1a1a1; border-radius: 15px;">
    <h2><a href="{% raw qiita_config.portal_dir %}/study/description/{{study.id}}">{{study.title}}</a></h2>
    <h4>Processed Data</h4>
    <table class='table table-striped' id='study{{study.id}}-table'>
    <tr>
      <th class="col-sm-1">id</th><th class="col-sm-1">Datatype</th><th class="col-sm-2">Processed Date</th><th class="col-sm-2">Algorithm</th><th class="col-sm-2">Parameters</th><th class="col-sm-1">Samples selected from Prep Info</th><th></th><th></th>
    </tr>
  {% for pid, samples in viewitems(proc_datas) %}
    <tr id="proc{{pid}}">
      <td>{{pid}} <a href="#" data-toggle="modal" data-target="#proc{{pid}}-settings-modal" onclick="return false;"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      <td>{{proc_info[pid]["data_type"]}}</td>
      <td>{{proc_info[pid]["processed_date"]}}</td>
      <td>{{proc_info[pid]["algorithm"]}}</td>
      <td>
        <small>
          {% if proc_info[pid]["params"] is not None %}
            {% for key, val in viewitems(proc_info[pid]["params"]) %}
              <i>{{key}}</i>: {{val}} <br/>
            {% end %}
          {% end %}
        </small>
      </td>
      <td><span id="proc{{pid}}-sample-count">{% raw len(samples) %}</span></td>
      <td><a href="#" onclick="$('#proc{{pid}}-samples').toggle(); return false;">Show/Hide samples</a></td>
      <td><a href="#" onclick = 'remove_proc_data({{pid}}, {{study.id}})'>Remove</a></td>
     </tr>
     <tr id="proc{{pid}}-samples" hidden><td colspan=7>
     <table class="table table-striped sample-table" id="proc{{pid}}-samples-table" style="width:50%">
    {% for samp in samples %}
      <tr id="{{pid}}@{{samp}}"><td>{{samp}}</td><td><a href="#" onclick="remove_sample('{{study.id}}', '{{pid}}', '{{samp}}')">Remove</a></td></tr>
    {% end %}
    </table>
    </td></tr>
    {% for pid in proc_datas %}
<!-- modal view to enter analysis information -->
    <div class="modal fade" id="proc{{pid}}-settings-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Processed Data {{pid}}</h4>
          </div>
          <form role="form" action="{% raw qiita_config.portal_dir %}/analysis/create/" method="post">
          <input type="hidden" name="action" value="create">
            <div class="modal-body">
              <b>Datatype</b>: {{proc_info[pid]["data_type"]}} <br/>
              <b>Processed Date</b>: {{proc_info[pid]["processed_date"]}} <br/>
              <b>Algorithm</b>: {{proc_info[pid]["algorithm"]}} <br/>
              <b>Parameters</b>:
                <small>
                  {% if proc_info[pid]["params"] is not None %}
                    {% for key, val in viewitems(proc_info[pid]["params"]) %}
                      <i>{{key}}</i>: {{val}} <br/>
                    {% end %}
                  {% end %}
                </small>
              <br/>
              {% for key, val in viewitems(proc_info[pid]) %}
                <b>{{key}}</b>: {{val}} <br/>
              {% end %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
      </div>
    </div>
  {% end %}
  {% end %}
  </table>
  </div>
</div>
{% end %}

<!-- modal view to enter analysis information -->
    <div class="modal fade" id="create-analysis-modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new analysis</h4>
          </div>
          <form role="form" action="{% raw qiita_config.portal_dir %}/analysis/create/" method="post">
          <input type="hidden" name="action" value="create">
            <div class="modal-body">
              <div>
                <div class="form-group">
                  <label for="name">Analysis name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Analysis name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Short description">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Create analysis</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% end %}
