{% extends sitebase.html%}

{%block head%}
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/moi.js"></script>
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/moi_list.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      moi_list.init("{{group_id}}", undefined, window.location.host + '{% raw qiita_config.portal_dir %}/moi-ws/');
    });
</script>
{% end %}

{% block content %}
<h1>Analysis {{aname}}</h1>
<div id='error'></div>

{% end %}
