{% extends sitebase.html %}
{% block head %}
<script type="text/javascript">
function remove_proc_data(pid, sid) {
	if(confirm('Are you sure you want to remove all samples for this processed data?')) { 
		$('#proc' + pid).remove();
		$('#proc' + pid + '-samples').remove();
		// remove study if all proc data removed
		if($('#study'+ sid + '-table tbody').children().length === 1) { $('#study'+sid).remove(); }
	}
}

function remove_sample(sid, pid, sample) {
		document.getElementById(pid + '@' + sample).remove();
		// remove proc data if all samples removed
		if($('#proc' + pid + '-samples-table tbody').children().length === 0) { $('#proc'+pid).remove(); $('#proc' + pid + '-samples').remove(); }
		// remove study if all proc data removed
		if($('#study'+ sid + '-table tbody').children().length === 1) { $('#study'+sid).remove(); }
}

</script>
{% end %}

{% block content %}
{% from qiita_db.study import Study %}
{% from future.utils import viewitems %}
<h1>Selected Samples</h1>
{% for sid, proc_datas in viewitems(seldata) %}
  {% set study = Study(sid) %}
<div class="row" id="study{{sid}}">
	<div class="col-md-12" style="border:2px solid #a1a1a1; border-radius: 15px;">
	  <h2><a href="/study/description/{{sid}}">{{study.title}}</a></h2>
	  <table class='table table-striped' id='study{{sid}}-table'>
	  <tr>
	  	<th></th><th>id</th><th>Datatype</th><th>Processed Date</th><th>Algorithm</th><th>Reference</th><th></th>
	  </tr>
	{% for pid, samples in viewitems(proc_datas) %}
		<tr id="proc{{pid}}">
			<td><a href="#" onclick = 'remove_proc_data({{pid}}, {{sid}})'>Remove</a></td>
	    <td>{{pid}}</td>
	    <td>{{proc_info[pid]["data_type"]}}</td>
	    <td>{{proc_info[pid]["processed_date"]}}</td>
	    <td>{{proc_info[pid]["algorithm"]}}</td>
	    <td>{{proc_info[pid]["reference_name"]}} {{proc_info[pid]["reference_version"]}}</td>
	    <td><a href="#" onclick="$('#proc{{pid}}-samples').toggle(); return false;">Show/Hide samples</a></td>
		 </tr>
		 <tr id="proc{{pid}}-samples" hidden><td colspan=7>
		 <table class="table table-striped sample-table" id="proc{{pid}}-samples-table" style="width:50%">
		{% for samp in samples %}
		 	<tr id="{{pid}}@{{samp}}"><td><a href="#" onclick="remove_sample('{{sid}}', '{{pid}}', '{{samp}}')">Remove</a></td><td>{{samp}}</td></tr>
		{% end %}
		</table>
		</td></tr>
	{% end %}
	</table>
	</div>
</div>
{% end %}
{% end %}