{%extends sitebase.html%}
{%block head%}
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
// http://www.9lessons.info/2012/04/bootstrap-registration-form-tutorial.html
$(document).ready(function()
{
  // Popover
  $('#change_password input').hover(function()
  {
    $(this).popover('show')
  });

  // Validation
  $("#change_password").validate({
    rules:{
      oldpass:{required:true,minlength: 8},
      newpass:{required:true,minlength: 8},
      newpass2:{required:true,minlength: 8,equalTo: "#newpass"},
    },

    messages:{
      newpass:{
      required:"Enter your password",
      minlength:"Password must be at least 8 characters"},
      newpass2:{
      required:"Enter confirm password",
      minlength:"Password must be at least 8 characters",
      equalTo:"Password and Confirm Password must match"}
    },

    errorClass: "help-inline",
    errorElement: "span",
    highlight:function(element, errorClass, validClass)
    {
      $(element).parents('.control-group').addClass('error');
    },
    unhighlight: function(element, errorClass, validClass)
    {
      $(element).parents('.control-group').removeClass('error');
      $(element).parents('.control-group').addClass('success');
    }
  });
});
</script>
{%end%}

{%block content%}
<div style='width: 50%;'>
<h1>Change Password</h1><br />
<h3>Enter new password below</h3>
<form role="form" action="{% raw qiita_config.portal_dir %}/profile/password/" method="post" id="change_password" name="change_password">
<div class="form-group">
    <label for="oldpass" class="control-label">Current Password</label>
      <input type="password" class="form-control" id="oldpass" name="oldpass">
</div>
<div class="form-group">
    <label for="newpass" class="control-label">New Password</label>
      <input type="password" class="form-control" id="newpass" name="newpass">
</div>
<div class="form-group">
    <label for="newpass2" class="control-label">Repeat New Password</label>
      <input type="password" class="form-control" id="newpass2" name="newpass2">
  </div>
<div style="color:red;">{{error}}</div>
<button class="btn btn-danger">Change Password</button>
</form>
</div>
{%end%}
