{%extends sitebase.html%}
{%block head%}
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/vendor/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/js/password_validation.js"></script>
<script type="text/javascript">
$( document ).ready(function() { validator_change_password(); });
</script>
{%end%}


{%block content%}
<div style='width: 50%;'>
<h1>Change Password</h1><br />
<h3>Enter new password below</h3>
<form class="form-horizontal dualpass" action="{% raw qiita_config.portal_dir %}/profile/password/" method="post" id="change_password" name="change_password">
<div class="form-group">
    <label for="oldpass" class="control-label">Current Password</label>
      <input type="password" class="form-control" id="oldpass" name="oldpass">
</div>
<div class="form-group">
    <label for="newpass" class="control-label">New Password</label>
      <input type="password" class="form-control" id="newpass" name="newpass">
</div>
<div class="form-group">
    <label for="newpass2" class="control-label">Repeat New Password</label>
      <input type="password" class="form-control" id="newpass2" name="newpass2">
  </div>
<div style="color:red;">{{error}}</div>
<button class="btn btn-danger">Change Password</button>
</form>
</div>
{%end%}
