{% extends sitebase.html %}
{%block head%}
<script type="text/javascript" src="/static/vendor/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/password_validation.js"></script>
<script type="text/javascript">
$( document ).ready(function() { dualpass_validator(); });
</script>
{%end%}

{%block content%}
<h1>Enter User Information</h1>
<div style="color:red;">{% raw error %}</div>
<form class="form-horizontal dualpass" role="form" action="/auth/create/" method="post" id="createuser">
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
<div class="form-group">
    <label for="newpass" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="newpass" name="newpass" placeholder="password">
    </div>
  </div>
<div class="form-group">
    <label for="newpass2" class="col-sm-2 control-label">Confirm password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="newpass2" name="newpass2" placeholder="password">
    </div>
  </div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name (optional)</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="name" name="name" placeholder="name">
    </div>
  </div>
<div class="form-group">
    <label for="affiliation" class="col-sm-2 control-label">Affiliation (Optional)</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="affiliation" name="affiliation" placeholder="affiliation">
    </div>
  </div>
<div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address (Optional)</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="address" name="address" placeholder="address">
    </div>
  </div>
<div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone # (Optional)</label>
    <div class="col-sm-10">
      <input type="textbox" class="form-control" id="phone" name="phone" placeholder="phone">
    </div>
  </div>
</div>
<button type="submit" class="btn btn-success">Create User</button>
</form>
{%end%}
