{% extends sitebase.html %}
{% block content %}
{% from future.utils import viewitems %}

<h1>Submission summary for study: <b>{{study_title}}</b></h1>

<form role="form" action="{% raw qiita_config.portal_dir %}/ebi_submission/{{preprocessed_data_id}}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            The information below describes information contained in the sample
            and prep templates which will be submitted to EBI.
        </div>

        {% if level != 'danger %}
            <table class="table">
            {% for category, summary in stats %}
                <tr>
                    <th colspan="2" align="center">{{category}}</th>
                </tr>
                <tr>
                    <td>{{summary}}</td>
                </tr>
            {% end %}
        {% end %}
        </table>
    </div>
    The investigation type is: <b>{{investigation_type}}</b>
    <br/><br/>
    {% if investigation_type %}
      {% if level != 'danger' %}
        {% if allow_submission %}
            <br/>
            What kind of submission do you want to do?
            <select name="submission_type">
                <option value="ADD">ADD</option>
                <option value="MODIFY">MODIFY</option>
            </select>
            <br/><br/>
            <input type="submit" class="btn btn-primary" value="Submit to EBI">
        {% else %}
            <b>{% raw ebi_disabled_msg %}
        {% end %}
      {% end %}
    {% else %}
      <b>You need to set an investigation type to continue!</b>
    {% end %}
    <br/><br/>
    <a class="btn btn-primary" href="{% raw qiita_config.portal_dir %}/study/description/{{study_id}}?top_tab=preprocessed_data_tab&sub_tab={{preprocessed_data_id}}">Return to study</a>
</form>
{% end %}
