{% extends sitebase.html %}
{% block head %}
{% end %}

{%block content %}
<div class="jumbotron">
  <h1>Welcome to Qiita</h1>
  <p align="justify">
    Qiita is a development effort powering the data analysis and storage for
    phase two of the Human Microbiome Project, a new three-year "multi-omic"
    study investigating the roles played by microbes and their interactions
    with the human body. This project as a model will delve into the
    relationship between the microbiome and disease, using inflammatory bowel
    disease as a model.
  </p>
  </ br>
  <p align="right">
    <small>
        <i>Text taken from <a href="https://ibdmdb.org">https://ibdmdb.org</a>.</i>
    </small>
  </p>
</div>
{% end %}
