{% extends sitebase.html %}
{% block head %}

<link rel="stylesheet" href="{% raw qiita_config.portal_dir %}/static/vendor/css/jquery.dataTables.min.css" type="text/css">
<link href="{% raw qiita_config.portal_dir %}/static/vendor/css/jquery.tagit.css" rel="stylesheet" type="text/css">

<style>
td.details-control {
  cursor: pointer;
}
</style>
<script src="{% raw qiita_config.portal_dir %}/static/js/sharing.js"></script>
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
function error(evt) { $('#search-error').html("<b>Server communication error. Sample selection will not be recorded. Please try again later.</b>"); }

function fillAbstract(table, row) {
  $('#title-text-area').text($('#' + table).find('#study' + row + "-title").text());
  $('#abstract-text-area').text($('#'+table).dataTable().fnGetData(row, 3));
}

var admin_tags = [];
var user_tags = [];
var tag_selected = '';
$(document).ready(function() {
  var user_studies_ajaxURL = "{% raw qiita_config.portal_dir %}/study/search/?&user={{current_user.id}}&search_type=user&sEcho=" + Math.floor(Math.random()*1001);
  var studies_ajaxURL = "{% raw qiita_config.portal_dir %}/study/search/?&user={{current_user.id}}&search_type=public&sEcho=" + Math.floor(Math.random()*1001);

  init_sharing("{% raw qiita_config.portal_dir %}");

  // we need to generate the tags before the study list so we can populate the
  // tags within the study list
  $("#studyTags").tagit({
    readOnly: true,
    onTagClicked: function(evt, ui) {
      var tag = $('.tagit').tagit('tagLabel', ui.tag);
      var current_color = ui.tag.css('border-color');
      $('.tagit-choice').each(function(){ $(this).css('border-color', '#D3D3D3') });
      if (current_color != 'rgb(0, 0, 0)') {
        ui.tag.css('border-color', '#000');
        tag_selected = tag;
      } else {
        tag_selected = '';
      }
      $('#user-studies-table').DataTable().draw();
      $('#studies-table').DataTable().draw();
    },
  });
  update_tags();

  $("#search-waiting").hide();
  moi.init(null, window.location.host + '{% raw qiita_config.portal_dir %}/study/list/socket/', function(){}, error, error);
  moi.add_callback('sel', display_number_of_samples_added);
  function format (name, d, row) {
      // `d` is the original data object for the row
      // create formatted cell with proc data table
      var proc_data_table = '<h4>Processed Data</h4>' +
        '<table class="table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;width:80%">' +
        '<tr><th></th><th>ID</th><th>Name</th><th>Data type</th><th>Processed Date</th>' +
        '<th>Algorithm</th><th>Parameters</th></tr>';
      for(i=0;i<d.proc_data_info.length;i++) {
        var proc_data = d.proc_data_info[i];
        var params = '';
        var p = proc_data.params;
        for (var key in p) {
          params += '<i>' + key + '</i>: ' + p[key] + '<br/>';
        }
        proc_data_table += '<tr><td><input type="button" class="btn btn-sm" value="Add" ' +
          'onclick="sel_proc_data('+ proc_data.pid +')"></td><td>' +
          proc_data.pid + '</td><td>' + proc_data.name + '</td><td>' + proc_data.data_type + '</td><td>' +
          proc_data.processed_date + '</td><td>' +
          proc_data.algorithm + '</td><td><small>' + params + '</small></td></tr>';
      }
      proc_data_table += '</table>';
      return proc_data_table;
  }

  $('#user-studies-table').dataTable({
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "deferRender": true,
      "columns": [
        {"className": 'details-control', "orderable": false, "data": null, "defaultContent": '<span class="glyphicon glyphicon-chevron-down"></span>'},
        { "orderable": false},
        { "data": "study_title" },
        { "data": "study_abstract" },
        { "data": "study_id" },
        { "data": "number_samples_collected" },
        { "data": "shared" },
        { "data": "pi" },
        { "data": "pubs" },
        { "data": "status" },
        { "data": "ebi_info" }
      ],
      columnDefs: [
        {type:'natural', targets:[3,7,8]},
        {"targets": [ 3 ], "visible": false},
        // render the study checkbox cell
        {"render": function ( data, type, row, meta ) {
            if(row.proc_data_info.length > 0) {
                return "<input type='button' id='study"+row.study_id+"-checkbox' class='btn btn-sm' value='Add to Analysis' onclick='sel_study(\"user-studies-table\", "+ meta.row +")'>";
            }
            else { return '<p style="font-size:12px">No Processed Data</p>'; }
        }, targets: [1]},
        // render the title cell
        {"render": function ( data, type, row, meta ) {
            result = "<a href='#' data-toggle='modal' data-target='#study-abstract-modal' onclick=\"fillAbstract('studies-table', "+ meta.row +")\">" +
              "<span class='glyphicon glyphicon-file' aria-hidden='true'></span></a> | <a href='{% raw qiita_config.portal_dir %}/study/description/" +
              row.study_id +"' id='study"+ meta.row +"-title'>"+ data +"</a>";
            // adding tags
            for (var i in row['study_tags']) {
              var tag = row['study_tags'][i];
              var level = 'info';
              if (jQuery.inArray(tag, admin_tags) >= 0) {
                level = 'warning';
              }
              result += ' <span class="label label-' + level + '">' + tag + '</span>';
            }
            return result
        }, targets: [2]},
        {"render": function ( data, type, row, meta ) {
            var glyph = 'remove';
            if(data === true) { glyph = 'ok' }
            return "<span id='shared_html_"+ row.study_id +"'>"+ data +"</span><br/><a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#share-study-modal-view' onclick='modify_sharing("+ row.study_id +");'>Modify</a>";
        }, targets: [6]},
        ],
      "language": {
          "search": "Filter results by column data (Title, abstract, PI, etc):",
          "loadingRecords": "Please wait - loading information ...",
          "zeroRecords": "No studies found"
      },
      "ajax": {
          "url": user_studies_ajaxURL + "&query=",
          "deferRender": true,
          "error": function(jqXHR, textStatus, ex) {
              $("#submit-button").prop("disabled",false);
              if(jqXHR.status === 500) { $("#search-error").text("Internal Server Error, please try again later"); }
              else { $("#search-error").text(jqXHR.responseText); }
          }
      }
  });

  $('#studies-table').dataTable({
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "deferRender": true,
      "sDom": '<"top">rti<"bottom"p><"clear">',
      "bLengthChange": false,
      "columns": [
        {"className": 'details-control', "orderable": false, "data": null, "defaultContent": '<span class="glyphicon glyphicon-chevron-down"></span>'},
        { "orderable": false},
        { "data": "study_title" },
        { "data": "study_abstract" },
        { "data": "study_id" },
        { "data": "number_samples_collected" },
        { "data": "pi" },
        { "data": "pubs" },
        { "data": "ebi_info" }
      ],
      columnDefs: [
        {type:'natural', targets:[3,7,8]},
        {"targets": [ 3 ], "visible": false},
        // render the study checkbox cell
        {"render": function ( data, type, row, meta ) {
            if(row.proc_data_info.length > 0) {
                return "<input type='button' id='study"+row.study_id+"-checkbox' class='btn btn-sm' value='Add to Analysis' onclick='sel_study(\"studies-table\", "+ meta.row +")'>";
            }
            else { return '<p style="font-size:12px">No Processed Data</p>'; }
        }, targets: [1]},
        // render the title cell
        {"render": function ( data, type, row, meta ) {
              result = "<a href='#' data-toggle='modal' data-target='#study-abstract-modal' onclick=\"fillAbstract('studies-table', "+ meta.row +")\">" +
                "<span class='glyphicon glyphicon-file' aria-hidden='true'></span></a> | <a href='{% raw qiita_config.portal_dir %}/study/description/" +
                row.study_id +"' id='study"+ meta.row +"-title'>"+ data +"</a>";
              // adding tags
              for (var i in row['study_tags']) {
                var tag = row['study_tags'][i];
                var level = 'info';
                if (jQuery.inArray(tag, admin_tags) >= 0) {
                  level = 'warning';
                }
                result += ' <span class="label label-' + level + '">' + tag + '</span>';
              }
              return result
        }, targets: [2]},
        ],
      "language": {
          "search": "Filter results by column data (Title, abstract, PI, etc):",
          "loadingRecords": "Please wait - loading information ...",
          "zeroRecords": "No studies found"
      },
      "ajax": {
          "url": studies_ajaxURL + "&query=",
          "deferRender": true,
          "error": function(jqXHR, textStatus, ex) {
              $("#submit-button").prop("disabled",false);
              if(jqXHR.status === 500) { $("#search-error").text("Internal Server Error, please try again later"); }
              else { $("#search-error").text(jqXHR.responseText); }
          }
      }
  });

  // Add event listener for opening and closing details
  $('#studies-table tbody').on('click', 'td.details-control', function () {
      var table = $('#studies-table').DataTable();
      var tr = $(this).closest('tr');
      var row = table.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format('studies-table', row.data(), row.index()) ).show();
        tr.addClass('shown');
      }
  });
  $('#user-studies-table tbody').on('click', 'td.details-control', function () {
      var table = $('#user-studies-table').DataTable();
      var tr = $(this).closest('tr');
      var row = table.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format('user-studies-table', row.data(), row.index()) ).show();
        tr.addClass('shown');
      }
  });

  // connecting searches
  $('#user-studies-table').on('search.dt', function () {
    var search_text = $('.dataTables_filter input').val();
    $('#studies-table').DataTable().search(search_text).draw();
  });

  // adding tag search/filter
  $.fn.dataTable.ext.search.push(
    function( settings, data, data_idx, row ) {
      if (tag_selected == '') {
        return true;
      } else if (jQuery.inArray(tag_selected, row['study_tags']) >= 0) {
          return true;
      }
      return false;
    }
  );

  // connecting paging size
  $('#user-studies-table').on('length.dt', function (e, settings, len) {
    $('#studies-table').DataTable().page.len(len).draw();
  });

  $("#search-form").submit(function(event)  {
      event.preventDefault();
      $("#submit-button").prop("disabled",true);
      $("#search-error").text('');
      $("#search-msg").text('');
      $('.gray-msg').css('color','#F2F2F2');
      $("#search-waiting").show();
      var query = $("#searchbox").val();

      var studies_table = $('#studies-table').DataTable();
      studies_table.ajax.url(ajaxURL + "&query=" + query).load(function() {
        $("#submit-button").prop("disabled",false);
        $("#search-waiting").hide();
        $("#search-msg").html('Search Completed: <b>' + query + "</b>");
        setTimeout(function() { $('.gray-msg').css('color','black'); },400);
      },
      true);
      studies_table.search( '' ).columns().search( '' ).draw();

      var user_studies_table = $('#user_studies-table').DataTable();
      user_studies_table.ajax.url(ajaxURL + "&query=" + query).load(function() {
        $("#submit-button").prop("disabled",false);
        $("#search-waiting").hide();
        $("#search-msg").html('Search Completed: <b>' + query + "</b>");
        setTimeout(function() { $('.gray-msg').css('color','black'); },400);
      },
      true);
      user_studies_table.search( '' ).columns().search( '' ).draw();

      return false;
  });
});

function update_tags(){
  $.ajax({
    type: "GET",
    url: "{% raw qiita_config.portal_dir %}/study/get_tags/",
    dataType: "json",
    async: false,
    success: function( data ) {
      admin_tags = data.tags.admin;
      user_tags = data.tags.user;
    }
  });
  jQuery.each(admin_tags.concat(user_tags), function( index, value ) {
    $("#studyTags").tagit("createTag", value);
  });
  // for some unknown reason when we have tagit -> onTagClicked, the css/color
  // is not respected; thus coloring here
  var color_user = '#1E90FF';
  var color_admin = '#FFA500';
  $('.tagit-choice').children('a').each(function(){
    var element = $(this);
    var tag = element.text();
    var color = color_user;
    if (jQuery.inArray(tag, admin_tags) >= 0) {
      color = color_admin;
    }
    element.css('color', color)
  });
}

function add_metacat(metacat) {
  document.getElementById('searchbox').value += (" " + metacat);
}
</script>

{% end %}
{% block content %}

<!--User Studies-->
<div class="row">
  <div class="col-sm-12" id="user-studies-div">
    <h5 class="gray-msg">
      Filter studies by tags:
      <small>(
        <span style="color: #FFA500">Admin</span>,
        <span style="color: #1E90FF">User</span>
      )</small>
    </h5>
    <ul id="studyTags"></ul>
    <h3 class="gray-msg">Your Studies (includes shared with you)</h3>
    <table id="user-studies-table" class="table table-bordered gray-msg">
      <thead>
        <tr>
          <th>Expand</th>
          <th>Add to analysis</th>
          <th>Title</th>
          <th>Abstract</th>
          <th>Study ID</th>
          <th>Samples</th>
          <th>Shared With These Users</th>
          <th>Principal Investigator</th>
          <th>Publications</th>
          <th>Status</th>
          <th>EBI</th>
        </tr>
      </thead>
    </table>
    <h3 class="gray-msg">Other Studies</h3>
    <table id="studies-table" class="table table-bordered gray-msg">
        <thead>
            <tr>
                <th>Expand</th>
                <th>Add to analysis</th>
                <th>Title</th>
                <th>Abstract</th>
                <th>Study ID</th>
                <th>Samples</th>
                <th>Principal Investigator</th>
                <th>Publications</th>
                <th>EBI</th>
            </tr>
        </thead>
    </table>
  </div>
</div>

<!--Abstract Modal-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="study-abstract-modal">
  <div class="modal-dialog modal-med">
    <div class="modal-content">
    <div class="modal-header">
       <h3 id="title-text-area"></h3>
    </div>
    <div class="modal-body" id="abstract-text-area">
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>
</form>
<!--Search help modal-->
<div class="modal fade search-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="searchexample">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"><h2>Search help<h2></div>
      <div class="modal-body">
        <p>A basic search argument consists of three parts: The metadata category to search over, the operator to use, and the value to use in the search. For example, to retrieve all soil samples in the database, the search argument would be:</p>
        <p><b>env_matter includes soil</b></p>
        <p>Valid operators for searches are:</p>
        <table class="table table-hover" style="width:60%">
        <tr><th>Operator</th><th>Function</th></tr>
        <tr><td><</td><td> Less than (for numeric values)</td></tr>
        <tr><td>></td><td> Greater than (for numeric values)</td></tr>
        <tr><td><=</td><td> Less than or equal (for numeric values)</td></tr>
        <tr><td>>=</td><td> Greater than or equal (for numeric values)</td></tr>
        <tr><td>=</td><td> Equals (matches exact numberic value or string)</td></tr>
        <tr><td>includes</td><td>Partial string matching</td></tr>
        </table>
        <p>Complex queries can also be created by using AND, OR, and NOT logic words words. These connect search arguments into larger search queries.</p>
        <table class="table table-hover" style="width:60%">
        <tr><th>Logic</th><th>Function</th></tr>
        <tr><td>AND</td><td>Find samples that fit both search arguments</td></tr>
        <tr><td>OR</td><td>Find samples that fit either search argument</td></tr>
        <tr><td>NOT</td><td>Find samples that don't include the value of the next search argument</td></tr>
        </table>

        <p>As an example, if we want all soil samples that are low or extremely high pH, we can use the following search:</p>
        <p><b>env_matter includes soil AND (ph < 4 OR ph > 8)</b></p>
        <p>You can search for multi-word phrases using quotes. For example, to search for any study with "chicken pox" in the title, the query would be:</p>
        <p><b>study_title includes "chicken pox"</b></p>
        <p>Note that you can not use wild cards in any string searches. Only alphanumeric characters and colons are supported.</p>
      </div>
    </div>
  </div>
</div>
<!-- modal view to enter sharing settings -->
<div class="modal fade" id="share-study-modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modify Sharing Settings</h4>
      </div>
      <form role="form" action="{% raw qiita_config.portal_dir %}/study/sharing/" method="post">
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label for="shares-select">Add/Remove Users</label>
              <select multiple class="study" id="shares-select" data-share-url="{% raw qiita_config.portal_dir %}/study/sharing/" style="width:50%"></select>
              <br>
              <br>
              Adding or removing email addresses automatically updates who the study is shared with.
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
{% end %}
