{% extends sitebase.html%}

{%block head%}
<link rel="stylesheet" href="/static/vendor/css/jquery.dataTables.css" type="text/css">
<style type="text/css">
  .navlist li
  {
    display: inline;
    padding-right: 20px;
  }
  .portal-select {
    width: 15em;
  }
</style>
<script src="/static/vendor/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
function check_submit(action) {
  //disable submit buttons
  $("#add-button").prop('disabled', true);
  $("#remove-button").prop('disabled', true);
  $("#messages").html("");
  var error = false;
  if($("#portal").val() === '') {
    //No selected portal, so add error message if needed and then don't submit
    if(!$('#portal-error').length) { $("#errors").append("<li id='portal-error'>Please select a portal</li>"); }
    error = true;
  }
  var data = oTable.$('input').serialize();
  if(data.length === 0) {
    //No checked rows, so add error message if needed and then don't submit
    if(!$('#checkbox-error').length) { $("#errors").append("<li id='checkbox-error'>Please select at least one row</li>"); }
    error = true;
  }
  if(error) {
    $("#add-button").prop('disabled', false);
    $("#remove-button").prop('disabled', false);
    return false;
  }
  $('#action').val(action);
  data = data + "&" + $('#portal-form').serialize();
  $.post('{{submit_url}}', data, function(data,textStatus,jqXHR){
    $("#add-button").prop('disabled', false);
    $("#remove-button").prop('disabled', false);
    $("#messages").html(data);
  });
}

$(document).ready(function() {
  //https://github.com/DataTables/Plugins/blob/master/sorting/custom-data-source/dom-checkbox.js
  $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col ) {
      return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
          return $('input', td).prop('checked') ? '1' : '0';
      } );
  };

  oTable = $('#info-table').dataTable({
    "deferRender": true,
    "iDisplayLength": 50,
    "aoColumns": [
            { "sSortDataType": "dom-checkbox" },
            {% for i in headers %}
            null,
            {% end %}
        ]
  });

  $('input[type=checkbox]').change(function(){
        $("#checkbox-error").remove();
    });

  $('#portal').change(function(){
        $("#portal-error").remove();
    });
});
</script>
{%end%}

{%block content%}
<div class="row topfloat">
  <div class='col-lg-12'>
    <span style="float:right"><b>View from portal:</b>
      <select name="view-portal" id="view-portal" class="portal-select">
        <option value="QIITA">QIITA</option>
        {% for portal in portals %}
        <option value="{{portal}}">{{portal}}</option>
        {% end %}
      </select>
    </span>
    <table>
      <tr><td style="white-space: nowrap;">
        <form role="form" id="portal-form">
        <b>Portal:</b> <select name="portal" id="portal" class="portal-select">
          <option value=""></option>
          {% for portal in portals %}
          <option value="{{portal}}">{{portal}}</option>
          {% end %}
        </select>
        <input type="hidden" name="action" id="action" value="">
        <input type="button" id="add-button" value="Add" class="btn btn-sm btn-success" onclick="check_submit('Add')"> <input type="button" id="remove-button" value="Remove" class="btn btn-sm btn-danger" onclick="check_submit('Remove')">
        </form>
        <span class="errorTxt" style="color:red">
          <ul id="errors" class="navlist"></ul>
        </span>
      </td><td style="padding-left:10px">
        <span id="messages"></span>
      </td></tr>
    </table>
  </div>
</div>
<div class='row' style="margin-top:50px">
  <div class='col-lg-12'>
    <table id="info-table" class="table">
    <thead>
      <tr>
        <td>Select</td>
        {% for head in headers %}
        <td>{{head}}</td>
        {% end %}
      </tr>
    </thead>
    <tbody>
      {% for i in info %}
      <tr>
        <td><input type="checkbox" name="selected" id="selected" value="{{i[id_col]}}"></td>
        {% for head in headers %}
        <td>{{i[head]}}</td>
        {% end %}
    </tr>
    {% end %}
    </tbody>
    </table>
  </div>
</div>
{% end %}
