{% from os.path import basename %}

<!-- modal view to enter preprocessing parameters -->
<div class="modal fade" id="preprocess-modal-view-{{prep_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Choose preprocessing parameters</h4>
      </div>
      <form action="/study/preprocess" method="post" onsubmit='return submit_preprocess();'>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <table>
                {% for idx, form_item in enumerate(preprocess_form, start=1) %}
                  {% set kwargs = {'tabindex': idx, 'class_': 'form-control'} %}
                  <tr>
                    <td width="50%">{% raw form_item.label %}</td>
                    <td width="50%">{% raw form_item(**kwargs) %}</td>
                  </tr>
                {% end %}
                <tr>
                  <td>
                    <input type='submit' id='start_preprocess_submit' class='btn btn-success' value="Start preprocessing">
                    <input type='hidden' name='study_id' value="{{study_id}}">
                    <input type='hidden' name='prep_template_id' value="{{prep_id}}">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#prep-accordion" href="#collapse{{divcount}}">{{data_type}} (ID: {{prep_id}})</a>
    </h4>
  </div>
  <div id="collapse{{divcount}}" class="panel-collapse collapse">
    <div class="panel-body">
      <b>Files:</b><br/>
      <table border="0" style="margin-left: 10px;">
        <tr>
          <td style="padding:3px;">
            <a class="btn btn-default glyphicon glyphicon-eye-open" href="/metadata_summary/?study_id={{study_id}}&prep_template={{prep_id}}" style="word-spacing: -10px;"> Show prep template summary</a>
          </td>
        </tr>
        {% for ptid, ptpath in filepaths %}
          <tr>
            <td>
              {% if is_local_request %}
                {{ptpath}}
              {% else %}
                <br/><a class="btn btn-default glyphicon glyphicon-download-alt" href="/download/{{ptid}}" style="word-spacing: -10px;"> {{basename(ptpath)}}</a>
              {% end %}
            </td>
          </tr>
        {% end %}
      </table>
      <br/>
      {% if is_editable %}
        <table id="edit-investigation-type-table" name="edit-investigation-types" class="investigation-type-table">
          <tr>
            <td>
              Selected investigation type:
            </td>
            <td>
              <select id="edit-investigation-type-{{prep_id}}" onclick="investigationTypeChanged({{prep_id}}, true)" onchange="investigationTypeChanged({{prep_id}}, true)">
                <option value="None Selected">None Selected</option>
                {% raw ena_terms %}
              </select>
            </td>
          </tr>
          <tr id="edit-user-defined-investigation-types-{{prep_id}}" style="display:none;">
            <td>
              User defined investigation type:
            </td>
            <td>
              <select onclick="newInvestigationTypeChanged({{prep_id}}, true)" onchange="newInvestigationTypeChanged({{prep_id}}, true)" id="edit-user-defined-investigation-type-{{prep_id}}">
              {% for term in user_defined_terms %}
                <option value="{{term}}">{{term}}</option>
              {% end %}
              </select>
            </td>
          </tr>
          <tr id="edit-new-investigation-type-entry-{{prep_id}}" style="display:none;">
            <td>
              New investigation type:
            </td>
            <td>
              <input type="text" id="edit-new-investigation-type-{{prep_id}}" name="new-investigation-type" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-warning" onclick="update_investigation_type('{{investigation_type}}', {{prep_id}})">Update Investigation Type</a>
            </td>
          </tr>
        </table>
      {% end %}
      <!--
        We need this JavaScript block here because the elements
        that we modify only exist if the HTML code above has
        been rendered
      -->
      <script>
      if ("{{investigation_type}}" !== "None") {
        // if the investigation type is a known ENA term, set as needed
        if ($("#edit-investigation-type-{{prep_id}} option[value='{{investigation_type}}']").length > 0 ){
          $('#edit-investigation-type-{{prep_id}}').val("{{investigation_type}}");
        }
        // else set as Other and load the fields to change the data
        else{
          $('#edit-investigation-type-{{prep_id}}').val("Other");
          investigationTypeChanged({{prep_id}}, true);
          if ($("#edit-user-defined-investigation-type-{{prep_id}} option[value='{{investigation_type}}']").length > 0 ){
            $('#edit-user-defined-investigation-type-{{prep_id}}').val("{{investigation_type}}");
          }
        }
      }
      else{
        $('#edit-investigation-type-{{prep_id}}').val("None Selected");
      }
      </script>
      <br/>
      {% if not preprocessed_data or preprocessing_status.startswith('failed') %}
        {% if study_status == 'sandbox' %}
          <a class="btn btn-primary glyphicon glyphicon-play" data-toggle="modal" data-target="#preprocess-modal-view-{{prep_id}}" style="word-spacing: -10px;"> Preprocess</a>
        {% end %}
          <br>
          <i>Status:</i> {{preprocessing_status}}
          <br>
          {% if 'zero-size array' in preprocessing_status %}
          <b>Your barcodes do not seem to match your prep template info</b>
          {% end %}
      {% else %}
        <b>Preprocessed data generated: </b>
        {% for pdi in preprocessed_data %}
          {{pdi}},
        {% end %}
      {% end %}
    </div>
  </div>
</div>