{% extends sitebase.html %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/css/jquery.dataTables.css" type="text/css">

<script src="/static/vendor/js/jquery.dataTables.min.js"></script>
<script src="/static/vendor/js/jquery.dataTables.plugin.natural.js"></script>

<script type="text/javascript">
$(document).ready(function() {
        $('#public-studies-table').dataTable({
            order: [[0, "asc"]],
            columnDefs: [
            {
                type:'natural', targets:[3,4,5]
            },
            {
                "targets": [ 1 ],
                "visible": false
            }]
         });
    $("#waiting").hide();
} );
</script>

{% end %}
{% block content %}
{% if len(public_studies) %}
    <table id="public-studies-table" class="display table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Abstract</th>
                <th>Owner</th>
                <th>Metadata Complete</th>
                <th>Samples</th>
                <th>Sequence Files</th>
                <th>Principal Investigator</th>
                <th>Pubmed ID(s)</th>
            </tr>
        </thead>
        <tbody>
{% set row = 0 %}
{% for s in public_studies %}
            <tr>
                <td><a href="#" data-toggle="modal" data-target="#study-abstract-modal" onclick="fillAbstract('public-studies-table', {{row}})"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a> | <a href="/study/description/{{ s.id }}" id="study{{row}}-title">{{ s.title }}</a></td>
                <td>{% raw s.abstract %}</td>
                <td>{% raw s.owner %}</td>
                {% if s.meta_complete %}
                <td><span class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                <td><span class="glyphicon glyphicon-remove"></span></td>
                {% end %}
                <td>{{ s.num_samples_collected }}</td>
                {% if s.num_raw_data %}
                <td>{{ s.num_raw_data }}</td>
                {% else %}
                <td><span class="glyphicon glyphicon-remove"></span></td>
                {% end %}
                <td>{% raw s.pi %}</td>
                <td>{% raw s.pmids %}</td>
            </tr>
    {% set row = row + 1%}
{% end %}
        </tbody>
    </table>

<!--Abstract Modal-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="study-abstract-modal">
  <div class="modal-dialog modal-med">
    <div class="modal-content">
    <div class="modal-header">
       <h3 id="title-text-area"></h3>
    </div>
    <div class="modal-body" id="abstract-text-area">
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
  </div>
</div>
{% else %}
    <div id="jumbotron" class="jumbotron">
        <h1><span class="glyphicon glyphicon-thumbs-down"></span> There are no studies available</h1>
        <p>
            This means that the system currently has no public studies you can
            access
        </p>
</div>
{% end %}
{% end %}
