{% extends sitebase.html %}
{% block head %}
{% from qiita_db.study import StudyPerson %}
{% from functools import partial %}
{% from qiita_pet.util import linkify %}
{% set pubmed_linkifier = partial(linkify, "<a href=\"http://www.ncbi.nlm.nih.gov/pubmed/{0}\">{0}</a>") %}
{% set study_person_linkifier = partial(linkify, "<a href=\"mailto:{0}\">{1}</a>") %}

<link rel="stylesheet" href="/static/vendor/css/jquery.dataTables.css" type="text/css">

<script src="/static/vendor/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#public-studies-table').dataTable({"order": [[1, "asc"]]});
    $("#waiting").hide();
} );
</script>

{% end %}
{% block content %}
{% if len(public_studies) %}
    <table id="public-studies-table" class="display table-bordered table-hover">
        <thead>
            <tr>
                <th>Samples</th>
                <th>Title</th>
                <th>Metadata Complete</th>
                <th>Sequence Files</th>
                <th>Principal Investigator</th>
                <th>Pubmed ID(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for s in public_studies %}
                {% set study_info = s.info %}
                {% set pmids = s.pmids %}
                {% set PI = StudyPerson(study_info['principal_investigator_id']) %}
            <tr>
                <td>{{study_info['number_samples_collected']}}</td>
                <td><a href="/study/description/{{s.id}}">{{s.title}}</a></td>
                {% if study_info['metadata_complete'] %}
                <td><span class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                <td><span class="glyphicon glyphicon-remove"></span></td>
                {% end %}
                <td>{{ len(s.raw_data()) }}</td>
                <td>{% raw study_person_linkifier((PI.email, PI.name)) %}</td>
                {% if len(pmids) %}
                <td>{% raw ", ".join([pubmed_linkifier([pmid]) for pmid in pmids]) %}</td>
                {% else %}
                <td>None</td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
{% else %}
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-thumbs-down"></span> There are no studies available</h1>
        <p>
            This means that the system currently has no public studies you can
            access
        </p>
</div>
{% end %}
{% end %}
