{% from os.path import basename %}
{% from qiita_db.data import PreprocessedData, ProcessedData %}

<div class="tab-pane" id="raw_data_info_{{raw_data_id}}" style="padding: 10px;">
  <table border="0">
    <tr>
      <td style="vertical-align:top;padding:10px;">

      <!-- Add prep template section -->
      {% if is_editable %}
        <h4>Add prep template to this raw data</h4>
        To add a prep template you need to:
        <ol>
          <!-- Step 1: choose the prep template file -->
          <li>
            select your prep template file
            <select id="add_prep_template_{{raw_data_id}}">
              {% for f in files %}
                <option value="{{f}}">{{f}}</option>
              {% end %}
            </select>,
          </li>
          <!-- Step 2: choose the prep template data type -->
          <li>
            select the prep template data type
            <select id="data_type_{{raw_data_id}}">
              {% for name, value in data_types %}
                <option value="{{value}}">{{name}}</option>
              {% end %}
            </select>
          </li>
          <!-- Step 3 (optional): select investigation type -->
          <li>
            (optional but required for EBI submission) select an investigation type:
            <select onclick="investigationTypeChanged({{raw_data_id}})" onchange="investigationTypeChanged({{raw_data_id}})" id="investigation-type-{{raw_data_id}}">
              <option value="None Selected">None Selected</option>
              {% raw ena_terms %}
            </select>
            <table id="investigation-type-table" name="investigation-types" class="investigation-type-table">
              <tr id="user-defined-investigation-types-{{raw_data_id}}" style="display:none;">
                <td>
                  Select one of the user defined investigation types:
                </td>
                <td>
                  <select onclick="newInvestigationTypeChanged({{raw_data_id}})" onchange="newInvestigationTypeChanged({{raw_data_id}})" id="user-defined-investigation-type-{{raw_data_id}}">
                  {% for term in user_defined_terms %}
                    <option value="{{term}}">{{term}}</option>
                  {% end %}
                  </select>
                </td>
              </tr>
              <tr id="new-investigation-type-entry-{{raw_data_id}}" style="display:none;">
                <td>
                  Enter a new investigation type:
                </td>
                <td>
                  <input type="text" id="new-investigation-type-{{raw_data_id}}" name="new-investigation-type" class="form-control">
                </td>
              </tr>
            </table>
          </li>
        </ol>
        <br/>
        <a class="btn btn-primary" onclick="add_prep_template({{raw_data_id}});">Add prep template</a>
        <br/>
        <hr/>
      {% end %}


        <!-- Uploaded prep templates (table) -->
        <h4>Prep templates uploaded</h4>
        <table border="1">
          {% for prep in available_prep_templates %}
          <tr>
            <td style="padding:3px;">{{prep.data_type()}}</td>
            <td style="padding:3px;">
              <a class="btn btn-primary" href="/metadata_summary/?study_id={{study_id}}&prep_template={{prep.id}}">Show prep template summary</a>
              <br/>
              {% for ptid, ptpath in prep.get_filepaths() %}
                {% if is_local_request %}
                  <br/>{{ptpath}}
                {% else %}
                  <br/><a href="/download/{{ptid}}">{{basename(ptpath)}}</a>
                {% end %}
              {% end %}
              <br/><br/>
              {% if is_editable %}
                <table id="edit-investigation-type-table" name="edit-investigation-types" class="investigation-type-table">
                  <tr>
                    <td>
                      Selected investigation type:
                    </td>
                    <td>
                      <select id="edit-investigation-type-{{prep.id}}" onclick="investigationTypeChanged({{prep.id}}, true)" onchange="investigationTypeChanged({{prep.id}}, true)">
                        <option value="None Selected">None Selected</option>
                        {% raw ena_terms %}
                      </select>
                    </td>
                  </tr>
                  <tr id="edit-user-defined-investigation-types-{{prep.id}}" style="display:none;">
                    <td>
                      User defined investigation type:
                    </td>
                    <td>
                      <select onclick="newInvestigationTypeChanged({{prep.id}}, true)" onchange="newInvestigationTypeChanged({{prep.id}}, true)" id="edit-user-defined-investigation-type-{{prep.id}}">
                      {% for term in user_defined_terms %}
                        <option value="{{term}}">{{term}}</option>
                      {% end %}
                      </select>
                    </td>
                  </tr>
                  <tr id="edit-new-investigation-type-entry-{{prep.id}}" style="display:none;">
                    <td>
                      New investigation type:
                    </td>
                    <td>
                      <input type="text" id="edit-new-investigation-type-{{prep.id}}" name="new-investigation-type" class="form-control">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a class="btn btn-warning" onclick="update_investigation_type('{{prep.investigation_type}}', {{prep.id}})">Update Investigation Type</a>
                    </td>
                  </tr>
                </table>
              {% end %}
              <!--
                We need this JavaScript block here because the elements
                that we modify only exist if the HTML code above has
                been rendered
              -->
              <script>
              if ("{{prep.investigation_type}}" !== "None") {
                // if the investigation type is a known ENA term, set as needed
                if ($("#edit-investigation-type-{{prep.id}} option[value='{{prep.investigation_type}}']").length > 0 ){
                  $('#edit-investigation-type-{{prep.id}}').val("{{prep.investigation_type}}");
                }
                // else set as Other and load the fields to change the data
                else{
                  $('#edit-investigation-type-{{prep.id}}').val("Other");
                  investigationTypeChanged({{prep.id}}, true);
                  if ($("#edit-user-defined-investigation-type-{{prep.id}} option[value='{{prep.investigation_type}}']").length > 0 ){
                    $('#edit-user-defined-investigation-type-{{prep.id}}').val("{{prep.investigation_type}}");
                  }
                }
              }
              else{
                $('#edit-investigation-type-{{prep.id}}').val("None Selected");
              }
              </script>
            </td>
            {% if not prep.preprocessed_data or prep.preprocessing_status.startswith('failed') %}
              <td style="padding:3px;">
              {% if study_status == 'sandbox' %}
                <input type="button" class="btn btn-primary" value="Split libraries" onclick="split_libraries({{prep.id}});">
                <input type="checkbox" id="rev_comp_mapping_barcodes_{{prep.id}}"> Use rev_comp_mapping_barcodes
                <hr/>
              {% end %}
                <i>Status:</i> {{prep.preprocessing_status}}
                <br>
                {% if 'zero-size array' in prep.preprocessing_status %}
                <b>Your barcodes do not seem to match your prep template info</b>
                {% end %}
              </td>
            {% else %}
              <td style="padding:3px;">
                <table border="0">
                {% for pdi in prep.preprocessed_data %}
                  {% set pd = PreprocessedData(pdi) %}
                  {% set filepaths = pd.get_filepaths() %}
                  {% for proc_id in pd.processed_data %}
                    {% set proc_data = ProcessedData(proc_id) %}
                    {% set filepaths.extend(proc_data.get_filepaths()) %}
                  {% end %}
                  {% if filepaths %}
                    <tr>
                      <td style="padding:3px;">
                        <a class="btn btn-primary" href="/preprocessing_summary/{{pdi}}">Preprocessing summary</a>
                        {% for fpid, fp, ft in filepaths %}
                          {% if is_local_request %}
                            <br/>{{fp}}
                          {% else %}
                            <br/><a href="/download/{{fpid}}">{{basename(fp)}}</a>
                          {% end %}
                        {% end %}
                      </td>
                      <td rowspan="2" style="padding:3px;">
                        <b>Preprocessed Data ID:</b> {{ pdi }}<br/>
                        <b>EBI status:</b> {{pd.submitted_to_insdc_status()}}<br/>
                        <b>EBI study accession:</b> {{pd.ebi_study_accession}}<br/>
                        <b>EBI submission accession:</b> {{pd.ebi_submission_accession}}
                      </td>
                    </tr>
                    {% if user_level == "admin" %}
                    <tr>
                      <td style="padding:3px;">
                        <a class="btn btn-primary" href="/ebi_submission/{{pd.id}}">Submit to EBI</a>
                      </td>
                    </tr>
                    {% end %}
                  {% end %}
                {% end %}
                </table>
              </td>
            {% end %}
          </tr>
          {% end %}
        </table>
        <br/>
      </td>

      <!-- Files linked to the raw data -->
      <td style="vertical-align:top;padding:10px;">
        <h4>Linked files to this raw data</h4>
          {% if is_editable and r.get_filepaths() and r.link_filepaths_status not in {'linking', 'unlinking'} %}
            <a class="btn btn-danger" onclick="unlink_all_files({{raw_data_id}})">Unlink all files</a><br/>
          {% end %}
          {% if r.link_filepaths_status == 'linking' %}
            <i><b style="color:red">Linking files...</b></i><br/>
          {% elif r.link_filepaths_status == 'unlinking' %}
            <i><b style="color:red">Unlinking files...</b></i><br/>
          {% elif r.link_filepaths_status.startswith('failed') %}
            <i><b style="color:red">Error (un)linking files: {{r.link_filepaths_status}} </b></i><br/>
          {% end %}
        {% for fpid, f, t in r.get_filepaths() %}
            <i>{{basename(f)}}:</i> {{t[4:]}} <br/>
        {% end %}
          <br/>
        {% if is_editable %}
          <h4>Link uploaded files with raw data</h4>
          <table border="0">
            <tr>
              <th>File</th>
              <th>&nbsp;&nbsp;&nbsp;</th>
              <th>File type</th>
            </tr>
            {% for f in files %}
            <tr>
              <td>{{f}}</td>
              <td>&nbsp;</td>
              <td>
                <select id="{{f}}" name="upload_file_{{raw_data_id}}">
                  <option value="">Ignore ...</option>
                  {% for fp_type in filepath_types %}
                    <option value="{{fp_type}}">{{fp_type}}</option>
                  {% end %}
                </select>
              </td>
            </tr>
            {% end %}
        </table>
        <br/>
        <a onclick="link_files_to_raw_data({{raw_data_id}});" {% if r.link_filepaths_status in {'linking', 'unlinking'} %} class="btn btn-default" style=" pointer-events: none; cursor: default; background-color:grey;" {% else %} class="btn btn-primary" {% end %}>Link raw files to: {{r.filetype}} (ID: {{raw_data_id}})</a>
        {% end %}
      </td>
    </table>
</div>