<div class="modal fade seaerch-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="searchexample">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"><h2>Search examples<h2></div>
      <div class="modal-body">
        <p>A basic search consists of three parts: The metadata category to search over, the operator to use, and the value to use in the search. For example, to retrieve all soil samples in the database, the query would be:</p>
        <p><b>sample_type = ENVO:soil</b></p>
        <p>Valid operators for searches are:</p>
        <p><b>  <  =  <=  >=  includes</b></p>
        <p>The mathematical operators work as expected. Includes is used to perform substring searches.</p>
        <p>Complex queries can also be created by using AND, OR, and NOT operators. As an example, if we want all soil samples that are low or extremely high pH, we can use the following search:</p>
        <p><b>sample_type = ENVO:soil AND (ph < 4 OR ph > 10)</b></p>
        <p>You can search for multi-word phrases using quotes. For example, to search for any study with "chicken pox" in the title, the query would be:</p>
        <p><b>title includes "chicken pox"</b></p>
      </div>
    </div>
  </div>
</div>