<div class="modal fade seaerch-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="searchexample">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p>A basic search consists of three parts: The metadata category to search over, the operator to use, and the value to use in the search. For example, to get all soil samples in the database, the query would be:</p>
      <p><b>sample_type = ENVO:soil</b></p>
      <p>Valid operators for searches are:</p>
      <p><b>  <  =  <=  >=  includes</b></p>
      <p>The mathematical operators work as expected. Includes is used to do substring searches.</p>
      <p>Complex queries can also be created by using AND, OR, and NOT operators. As an example, if we want all soil samples that are extremely low or extremely high pH, we can use the following search:</p>
      <p><b>sample_type = ENVO:soil AND (ph < 4 OR ph > 10)</b></p>
    </div>
  </div>
</div>