{%extends sitebase.html%}
{%block head%}
{%block head%}
<script src="/static/js/analysis.js"></script>
{%end%}
{%end%}

{%block content%}
{% from future.utils import viewitems %}
{% from qiita_db.study import Study %}
{% from qiita_db.data import ProcessedData %}
{% from qiita_pet.util import clean_str %}
<h1>Search</h1>
 <form role="form" action="/analysis/search/studies/" id="results-form" method="post">
 <input type="hidden" name="action" id="action" value="">
<input type="hidden" name="analysis-id" value="{{aid}}">

<p><input type="text" name="query" id="query" style="width:80%;white-space:nowrap;"><input type="submit" class="btn btn-default" onclick="pre_submit('search')" value="Search"></p>
<p><a href="#" data-toggle="modal" data-target="#searchexample">Search examples</a></p>
<div id='searchmsg' style="color:red;">{{searchmsg}}</div>

<h1>Studies</h1> 
{% if results %}
  <big>   Overall counts for selected samples</big>
   <table class='table'>
    <tr><th>Metadata</th><th>Count</th><th></th></tr>
    {% for meta_cat, sub_cats in viewitems(fullcounts) %}
      <tr><td><strong>{{meta_cat}}</strong></td><td></td><td></td></tr>
      {% for sub_cat, count in viewitems(sub_cats) %}
        <tr><td>{{sub_cat}}</td><td>{{count}}</td>
        <td><a href='#' onclick="select_category('{{clean_str(sub_cat)}}', ''); return false;">Select category</a></td></tr>
      {% end %}
    {% end %}
  </table>
  <big>   Select studies to analyze</big>
  <div id="availstudies">  <!-- Search results -->
    <table class='table table-hover'>
      <tr><th>Data Types</th><th>Name</th><th>Description</th><th>Status</th></tr>
      {% for sid, samples in viewitems(results) %}
        {% set study = Study(sid) %}
        <tr id="study{{sid}}"><td>
        {% for data_type in study.data_types %}
          <input type='hidden' name='availstudies' id='{{sid}}#{{data_type}}' value='{{sid}}#{{data_type}}' disabled=true>
          <select name='{{sid}}#{{data_type}}' multiple=true onchange="enable_study_datatype('{{sid}}#{{data_type}}')" onclick="enable_study_datatype('{{sid}}#{{data_type}}')">
          {% for proc_data in study.processed_data(data_type=data_type) %}
            <option value="{{proc_data}}">{{proc_data}}</option>
          {% end %}
          </select>{{data_type}}<br />
          </td><td style='vertical-align:middle;'><a href="#" id="toggle{{sid}}" onclick="toggle_row('{{sid}}', false); return false;">(+)</a> {{study.title}}</td>
          <td style='vertical-align:middle;'>
          {{study.info["study_description"]}}</td>
          <td style='vertical-align:middle;'>{{study.status}}</td></tr>
        {% end %}
        <tr id='row{{sid}}' style="display:none;"><td colspan=4><h3>Statistics</h3>
        <table class='table'>
          <tr><th>Metadata</th><th>Count</th><th></th></tr>
          {% for meta_cat, sub_cats in viewitems(counts[study.id]) %}
            <tr><td><strong>{{meta_cat}}</strong></td><td></td><td></td></tr>
            {% for sub_cat, count in viewitems(sub_cats) %}
              <tr><td>{{sub_cat}}</td><td>{{count}}</td>
              <td><a href='#' onclick="select_category('{{clean_str(sub_cat)}}', '{{sid}}'); return false;">Select category</a></td></tr>
            {% end %}
          {% end %}
        </table>
        <h3>Samples</h3>
        <a href="#" onclick="select_deselect({{sid}}, true); return false;">Select all</a> | <a href="#" onclick="select_deselect({{sid}}, false); return false;">Select none</a>
        <table class='table table-hover'><td><th>Sample ID</th>
        {% for meta in meta_headers %}
          <th>{{meta}}</th>
        {% end %}
         </tr>
        {% for sample in samples %}
          <tr><td>
          <input type='checkbox' name='{{sid}}'
          value='{{sample[0]}}' class='{{sid}} {{ " ".join(clean_str(s) for s in sample[1:]) }}'>
          </td><td>{{sample[0]}}</td>
          {% for pos in range(len(meta_headers)) %}
            <td>{{sample[pos+1]}}</td>
          {% end %}
        </tr>
        {% end %}
        </table>
        <a href="#" id="toggle{{sid}}" onclick="toggle_row('{{sid}}',  false); return false;">Collapse</a>
      {% end %}
    </table>
  </div>
  <p><input type="submit" class="btn btn-default" onclick="pre_submit('select')" value="Select studies"></p>
{% end %}

<big>    Selected Studies</big>
<div id="selected"> <!-- Selected samples -->
  <table class="table table-hover">
  {% for sid, proc_ids in viewitems(selproc_data) %}
    {% set study = Study(sid) %}
    <tr><td>
    {% for proc in proc_ids %}
      {% set data_type = ProcessedData(proc).data_type() %}
      <input type='hidden' name='selstudies' value='{{sid}}'> <input type='checkbox' name='dt{{sid}}' value='{{proc}}'>{{data_type}} - {{proc}} <br />
      {% end %}
    </td><td><a href="#" id="seltoggle{{sid}}" onclick="toggle_row('{{sid}}', true); return false;">(+)</a>{{study.title}}</td><td>{{study.info["study_description"]}}</td></tr>
    <tr id='selrow{{sid}}' style="display:none;"><td colspan=3>
    <p><a href="#" onclick="select_deselect('sel{{sid}}', true); return false;">Select all</a> | <a href="#" onclick="select_deselect('sel{{sid}}', false); return false;">Select none</a></p>
    {% for samp in selsamples[sid] %}
      <input type='checkbox' class='sel{{sid}}' name='sel{{sid}}' value='{{samp}}'> {{samp}}<br />
     {% end %}
    </td></tr>
    {% end %}
  </table>
</div>
<input type="submit" class="btn btn-default" onclick="pre_submit('deselect')" value="De-select">
<input type="submit" class="btn btn-default" onclick="pre_submit('continue')" value="Continue">
</form>
{% include "search_studies_doc_modal.html" %}
{%end%}