{% extends sitebase.html%}
{%block head%}
<script src="/static/js/analysis.js"></script>
{%end%}

{% block content %}
{% from future.utils import viewitems %}
{% from qiita_db.data import ProcessedData%}
{% from qiita_db.study import Study%}
<h1>Search</h1>
 <form role="form" action="/analysis/search/studies/" id="results-form" method="post">
 <input type="hidden" name="action" id="action" value="">
<input type="hidden" name="analysis-id" value="{{aid}}">

<p><input type="text" name="query" id="query" style="width:80%;white-space:nowrap;"><input type="submit" class="btn btn-default" onclick="pre_submit('search')" value="Search"></p>
<p><a href="#" data-toggle="modal" data-target="#searchexample">Search examples</a> | <a href="#" data-toggle="modal" data-target="#availmeta">Metadata headers</a></p>
</button>

<h1>Samples</h1>
<big>   Select samples to analyze</big>
<div id="availstudies">  <!-- Search results -->
<big>   <b>Search for metadata information to begin</b></big>
</div>
<big>    Selected Samples</big>
<div id="selected"> <!-- Selected samples -->
  <table class="table table-hover">
  {% for sid, proc_ids in viewitems(selproc_data) %}
    {% set study = Study(sid) %}
    <tr><td>
    {% for proc in proc_ids %}
      {% set data_type = ProcessedData(proc).data_type() %}
      <input type='hidden' name='selstudies' value='{{sid}}'> <input type='checkbox' name='dt{{sid}}' value='{{proc}}'>{{data_type}} - {{proc}} <br />
      {% end %}
    </td><td><a href="#" id="seltoggle{{sid}}" onclick="toggle_row('{{sid}}', true); return false;">(+)</a>{{study.title}}</td><td>{{study.info["study_description"]}}</td></tr>
    <tr id='selrow{{sid}}' style="display:none;"><td colspan=3>
    {% for samp in selsamples[sid] %}
      <input type='checkbox' name='sel{{sid}}' value='{{samp}}'> {{samp}}<br />
     {% end %}
    </td></tr>
    {% end %}
  </table>
</div>
<input type="button" class="btn btn-default" onclick="pre_submit('deselect')" value="Remove">
</form>
{% module Template("search_studies_doc_modal.html", availmeta=availmeta) %}
{% end %}
