{% from moi import r_client %}
{% from qiita_pet import allowed_min_browser_versions %}
{% set maintenance = r_client.get('maintenance') %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head>
    <title>Qiita</title>
    <link rel="stylesheet" href="/static/vendor/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/jquery-ui.structure.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/jquery-ui.theme.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vendor/css/chosen.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <script src="/static/vendor/js/jquery-2.1.0.min.js"></script>
    <script src="/static/vendor/js/jquery-ui.min.js"></script>
    <script src="/static/vendor/js/bootstrap.min.js"></script>
    <script src="/static/vendor/js/chosen.jquery.min.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <script>
      $(document).ready(function() {
        function overlay() {
          overlay = document.getElementById("overlay");
          overlay.style.visibility = "visible";
          navbar = document.getElementById("navigation-bar");
          navbar.style.visibility = "hidden";
          jumbotron = document.getElementById("jumbotron");
          jumbotron.style.visibility = "hidden";
        }

        // from http://mrbool.com/how-to-detect-different-browsers-and-their-versions-using-javascript/25424
        var objappVersion = navigator.appVersion;
        var objAgent = navigator.userAgent;
        var objbrowserName = navigator.appName;
        var objfullVersion = ''+parseFloat(navigator.appVersion);
        var objBrMajorVersion = parseInt(navigator.appVersion,10);
        var objOffsetName,objOffsetVersion,ix;
        // In Chrome
        if ((objOffsetVersion=objAgent.indexOf("Chrome"))!=-1) {
          objbrowserName = "Chrome";
          objfullVersion = objAgent.substring(objOffsetVersion+7);
        } // In Firefox
        else if ((objOffsetVersion=objAgent.indexOf("Firefox"))!=-1) {
          objbrowserName = "Firefox";
        } // In Safari
        else if ((objOffsetVersion=objAgent.indexOf("Safari"))!=-1) {
          objbrowserName = "Safari";
          objfullVersion = objAgent.substring(objOffsetVersion+7);
          if ((objOffsetVersion=objAgent.indexOf("Version"))!=-1)
            objfullVersion = objAgent.substring(objOffsetVersion+8);
        }
        // trimming the fullVersion string at semicolon/space if present
        if ((ix=objfullVersion.indexOf(";"))!=-1)
          objfullVersion=objfullVersion.substring(0,ix);
        if ((ix=objfullVersion.indexOf(" "))!=-1)
          objfullVersion=objfullVersion.substring(0,ix);
        objBrMajorVersion = parseInt(''+objfullVersion,10);
        if (isNaN(objBrMajorVersion)) {
          objfullVersion = ''+parseFloat(navigator.appVersion);
          objBrMajorVersion = parseInt(navigator.appVersion,10);
        }

        if ((objbrowserName == "Chrome"  && objBrMajorVersion < {{allowed_min_browser_versions['chrome']}}) ||
            (objbrowserName == "Firefox" && objBrMajorVersion < {{allowed_min_browser_versions['firefox']}}) ||
            (objbrowserName == "Safari"  && objBrMajorVersion < {{allowed_min_browser_versions['safari']}})) {
          overlay();
        }

      });
    </script>
    {% block head %}{% end %}
  </head>

  <body style="padding-top: 65px; height: 100%">
    <div id="overlay" class="navbar-brand" style="visibility: hidden; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; font-size: 13px; text-align: center; z-index: 1000; background-color: #333333; color: #FFFFFF;">
      <div>
        <img src="/static/img/logo-clear.png" alt="Emperor" id="small-logo"/>
        <h1>This site only works on newer browsers.</h1>
        <p id="explanation"><strong>Chrome >= {{allowed_min_browser_versions['chrome']}}:</strong> You can download Chrome from <a href="https://www.google.com/chrome/browser/">here</a> or you can find instructions on how to update it <a href="https://support.google.com/chrome/answer/95414?hl=en">here</a></p>
        <p id="explanation"><strong>Safari >= {{allowed_min_browser_versions['safari']}}:</strong> You can update Safari following <a href="http://support.apple.com/en-us/HT6104">these</a> instructions.</p>
        <p id="explanation"><strong>Firefox >= {{allowed_min_browser_versions['firefox']}}:</strong> For instructions on how to install or update Firefox go <a href="https://support.mozilla.org/en-US/kb/update-firefox-latest-version">here.</a></p>
      </div>
    </div>
  {% set level = globals().get('level', '') %}
  {% set message = globals().get('message', '') %}
  {% if maintenance is not None %}
    {% set level = 'danger' %}
    {% set message = maintenance %}
  {% end %}
  {% if message != '' %}
      {% if level not in {'danger', 'success', 'info'} %}
          {% set level = 'info' %}
      {% end %}
      <div class="alert alert-{{ level }} alert-dismissable">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p align="center">
          {% raw message %}
        </p>
      </div>
  {% end %}

    <div id="navigation-bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- button that appears if the window is re-sized to a smaller size -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <!-- qiita logo -->
              <a class="navbar-brand" rel="home" href="/" title="Qiita">
                <img style="max-width:100px; margin-top: -7px;" src="/static/img/logo-clear.png">
              </a>
            </li>
            <!-- meta-analysis menu -->
            {% if user %}
            <li class="dropdown">
              <a href="/analysis/1" data-toggle="dropdown" class="dropdown-toggle">Meta Analysis<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a data-toggle="modal" data-target="#create-analysis-modal-view">Create Meta Analysis</a></li>
                <li><a href="/analysis/show/">See Previous Analyses</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/study/create/" data-toggle="dropdown" class="dropdown-toggle">Study<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/study/create/">Create Study</a></li>
                <li><a href="/study/private/">View My Studies</a></li>
                <li><a href="/study/public/">View Public Studies</a></li>
              </ul>
            </li>
            {% set user_tmp = handler.user() %}
            {% set user_level = user_tmp.level if user_tmp is not None else None %}
            {% if user_level == 'admin' %}
            <li class="dropdown">
              <a href="/admin/error/" data-toggle="dropdown" class="dropdown-toggle">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/error/">View Errors</a></li>
                <li><a href="/admin/approval/">View Studies awaiting approval</a></li>
              </ul>
            </li>
              {% elif user_level == 'dev' %}
            <li class="dropdown">
              Dev<b class="caret"></b>
              <ul class="dropdown-menu">
                <li><a href="/admin/error/">View Errors</a></li>
              </ul>
            </li>
              {% end %}
            {% end %}
            <!-- generic elements -->
            <li>
              <a href="https://github.com/biocore/qiita/wiki">Help</a>
            </li>
            <li>
              <a href="/stats/">Stats</a>
            </li>
            <li>
              <a href="http://github.com/biocore/qiita">GitHub</a>
            </li>
          </ul>
          <!-- show user name and logout button if there's a user logged in -->
          {% if user %}
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/profile/">Welcome {{user}}</a>
            </li>
            <li class="pull-right">
              <a href="/auth/logout/">Log Out</a>
            </li>
          </ul>
          <!-- otherwise show the login form -->
          {% elif  maintenance is None %}
          <ul class="nav navbar-nav">
            <li>
              <a href="/auth/create/">New User</a>
            </li>
            <li>
              <a href="/auth/forgot/">Forgot Password</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="form" action="/auth/login/" method="post">
            <div class="form-group">
              <input tabindex="1" type="text" id="username" name="username" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input tabindex="2" type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button tabindex="3" type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% end %}
        </div><!--/.navbar-collapse -->
      </div>
    </div> <!--/.main nav-bar -->

    <!-- all templates should override this portion to present their main content -->
    <div id="template-content" class="container">
      {% block content %}{% end %}
    </div>

    <!-- modal view to enter analysis information -->
    <div class="modal fade" id="create-analysis-modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new meta-analysis</h4>
          </div>
          <form role="form" action="/analysis/2" method="post">
          <input type="hidden" name="action" value="create">
            <div class="modal-body">
              <div>
                <div class="form-group">
                  <label for="name">Analysis name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Analysis name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Short description">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Create analysis</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="footer">
    </div>
  </body>
</html>
