{% extends sitebase.html %}
{% block head %}
{% from future.utils import viewitems %}
{% from qiita_core.qiita_settings import qiita_config %}

<script type="text/javascript">
$(document).ready(function() {
    $('#error-table').dataTable({"order": [[1, "asc"]]});
    $("#waiting").hide();
} );
</script>

{% end %}

{% block content %}
  {% if software %}
    <h3>Available plugins</h3>
    <table class="table-bordered" width="50%">
      <thead>
        <tr>
          <th>Software</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody>
      {% for s in software %}
        <tr>
          <td>
            {% if s.active %}
              <span class="glyphicon glyphicon-thumbs-up" style="color:green"></span>
            {% else %}
              <span class="glyphicon glyphicon-thumbs-down" style="color:red"></span>
            {% end %}
            ID {{s.id}}: {{s.name}}, {{s.version}}
            {% if s.deprecated %}
              </br></br>
              <span class="glyphicon glyphicon-hand-down" style="color:red">Deprecated</span>
            {% end %}
          </td>
          <td>
            <table class="display table-bordered table-hover" width="100%">
              <tbody>
                {% for c in s.commands %}
                  <tr>
                    <td>
                      {% if c.active %}
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green"></span>
                      {% else %}
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red"></span>
                      {% end %}
                      ID {{c.id}}: {{c.name}}
                    </td>
                  </tr>
                {% end %}
              </tbody>
            </table>
          </td>
        </tr>
      {% end %}
      </tbody>
    </table>
  {% else %}
      <div id="jumbotron" class="jumbotron">
          <h1><span class="glyphicon glyphicon-thumbs-down"></span> There are no plugins in this system. </h1>
      </div>
  {% end %}
{% end %}
