{% extends sitebase.html %}
{% block head %}
<link rel="stylesheet" src="/static/vendor/css/vis.css" type="text/css">
<script type="text/javascript" src="/static/vendor/js/vis.js"></script>
<script type="text/javascript">
  var network = -1;
  function togglegraphs(id) {
    if($("#study-prep-graph-row").css('display') == 'none' ) {
      $("#study-prep-graph-row").show();
      $("#graph-toggle-link").text("Hide files");
    } else {
      $("#study-prep-graph-row").hide();
       $("#graph-toggle-link").text("Show files");
    }
  }

  function fill_artifact(aid) {
    $("#study-main").html("ARTIFACT " + aid + " HTML STUFF");
  }

  function fill_prep(pid) {
    $("#study-main").empty();
    $.get( "/prep/graph/", { prep_id: pid} )
      .done(function( data ) {
        var edges = [];
        var nodes = [];
        // format edge list data
        for(i=0;i<data.edge_list.length;i++) {
          edges.push({from: data.edge_list[i][0], to: data.edge_list[i][1]});
        }
        //format node depth data
        for(i=0;i<data.node_labels.length;i++) {
          nodes.push({id: data.node_labels[i][0], label: data.node_labels[i][1], shape: 'box'});
        }
        $("#study-prep-graph-row").show();
        draw_graph(nodes, edges, "study-prep-graph");
        // add event listeners
        network.on('select', function(params) {
          //render the information for the selected artifact ID
          if(+params.nodes !== 0) { fill_artifact(params.nodes); }
        });
        // Copy existing formatted prep info to header position
        $("#study-prep-subheader").html("<h2>" + $("#prep-header-" + pid).html() + '</h2><a href="#" onclick="togglegraphs(); return false;" id="graph-toggle-link">Hide files</a>');
    });
    $.get( "/study/description/prep_template/", { prep_id: pid, study_id: {{study_info['study_id']}} } )
      .done(function( data ) {
        $("#study-main").html(data);
    });
  }

  function draw_graph(nodes, edges, target) {
    var container = document.getElementById(target);
    container.innerHTML = "";
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      nodes: {
        color: '#ffffff',
        font: '16px arial black'
      },
      layout: {
        hierarchical: {
          direction: "LR",
          sortMethod: "directed",
          levelSeparation: 260
        }
      },
      interaction: {
        dragNodes: false,
        dragView: false,
        zoomView: false
      }
    };
    network = new vis.Network(container, data, options);
  }

  function fill_base(sid) {
    $.get( "/study/description/baseinfo/", { study_id: sid} )
      .done(function( data ) {
        $("#study-main").html(data).show();
        $("#study-prep-graph").empty();
        $("#study-prep-graph-row").hide();
        $("#study-prep-subheader").empty();
      });
  }

  function fill_sample(sid) {
    $.get( "/study/description/sample_template/", { study_id: sid } )
      .done(function( data ) {
        $("#study-main").html(data);
        $("#study-prep-graph").empty();
        $("#study-prep-graph-row").hide();
        $("#study-file-breadcrumbs").empty();
        $("#study-file-breadcrumbs-row").hide();
        $("#study-prep-subheader").empty();
      });
  }

  function fill_sample_summary(sid) {
    $.get( "/study/description/sample_summary/", { study_id: sid } )
      .done(function( data ) {
        $("#study-main").html(data);
        $("#study-prep-graph").empty();
        $("#study-prep-graph-row").hide();
        $("#study-file-breadcrumbs").empty();
        $("#study-file-breadcrumbs-row").hide();
        $("#study-prep-subheader").empty();
      });
  }

  function fill_new_prep() {
  $(document).ready(function() {
    $.get( "/study/add_prep/{{study_info['study_id']}}")
      .done(function( data ) {
        $("#study-main").html(data);
        $("#study-prep-graph").empty();
        $("#study-prep-graph-row").hide();
        $("#study-file-breadcrumbs").empty();
        $("#study-file-breadcrumbs-row").hide();
      });
  });

  function validate_delete_study_text() {
    if ($("#study-alias").val() == "{{study_info['study_alias']}}") {
      $('#delete-study-button').prop('disabled', false);
    } else {
      $('#delete-study-button').prop('disabled', true);
    }
  }

function delete_study() {
  if ($("#study-alias").val() != "{{study_info['study_alias']}}") {
    alert("The entered study alias doesn't match the study");
    return false;
  }
  if (confirm("Are you sure you want to delete {{study_info['study_title']}}?")) {
    $.post('/study/delete/', {study_id: {{study_info['study_id']}}})
      .done(function ( data ) {
        if(data["status"] == "error") {
          bootstrapAlert(data.message.replace("\n", "<br/>"), "danger", 4000);
        } else {
          window.location.replace = '/'
        }
      });
  }
}
</script>
<style>
.graph {
  width:100%;
  height:300px;
  border: 1px solid #ccc;
}
</style>
{% end %}
{% block content %}
<div class="row">
  <div class="col-md-3">
  <h3><a href="#" onclick="fill_base({{study_info['study_id']}})">Study Information</a></h3>
    <a href="#" onclick="fill_sample({{study_info['study_id']}}); return false;">Sample Template</a><br />
    <a href="#" onclick="fill_sample_summary({{study_info['study_id']}}); return false;">Sample Summary</a><br />
    {% if editable %}
    <a href="/study/upload/{{study_info['study_id']}}">Upload Files</a><br />
    <a href="#" onclick="fill_new_prep()">Add New Preparation</a><br />
    <a href="/study/edit/{{study_info['study_id']}}">Edit Study Information</a><br />
    <a href="#" data-toggle="modal" data-target="#delete-study">Delete Study</a>
    {% end %}

    <h3>Data Types</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
      {% for dt in prep_info %}
      {% set cleaned_dt = dt.replace(' ', '_') %}
        <div class="panel-heading" role="tab" id="heading{{cleaned_dt}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cleaned_dt}}" aria-expanded="true" aria-controls="collapse{{cleaned_dt}}">{{dt}}</a>
          </h4>
        </div>
        <div id="collapse{{cleaned_dt}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{cleaned_dt}}">
          <div class="panel-body">
      {% for prep in prep_info[dt] %}
            <a href="#" style="display:block;color:black;" onclick="fill_prep({{prep['id']}})">
            <span id="prep-header-{{prep['id']}}">{{prep['name']}} - ID {{prep['id']}} - {{prep['status']}}</span><br/>
            {{prep['start_artifact']}} - ID {{prep['start_artifact_id']}}<br/>
            {{prep['youngest_artifact']}}
            </a>
            <hr>
      {% end %}
          </div>
        </div>
      {% end %}
      {% end %}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12" id="study-base-info">
        <h2>{{study_info['study_title']}} - ID {{study_info['study_id']}}</h2>
        <h3>{{study_info['study_alias']}}</h3>
      </div>
    </div>
    {% if user_level == 'admin' %}
    <div class="row">
      <div class="col-md-12" id="study-admin">
        ADMIN STUFF HERE
      </div>
    </div>
    {% end %}
    <div class="row"><div class="col-md-12" id="study-prep-subheader"></div></div>
    <div class="row graph" id="study-prep-graph-row"><div class="col-md-12 graph" id="study-prep-graph"></div></div>
    <div class="row"><div class="col-md-12" id="study-main"></div>{% block study_content %}{% end %}</div>
  </div>
</div>

<div class="modal fade delete-study" tabindex="-1" role="dialog" id="delete-study">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Deleting:<br/></h3><h4>{{study_info['study_title']}}</h4>
      </div>
      <div class="modal-body">
        You will only be able to delete a study that has no data associated with it.
      </div>
      <div class="modal-footer">
        To continue you need to write the alias name of the study:
        <input type="text" name="study-alias" id="study-alias" onkeyup="validate_delete_study_text();">
        <button class="btn btn-danger glyphicon glyphicon-trash" onclick="delete_study();" id="delete-study-button" disabled></button>
      </div>
    </div>
  </div>
</div>
{% end %}