{% extends sitebase.html %}
{% block head %}
{% set study_title = study_info['study_title'] %}
{% set study_title_msg = study_title.replace('"', '\\"') %}
<link rel="stylesheet" src="{% raw qiita_config.portal_dir %}/static/vendor/css/vis.min.css" type="text/css">
<link rel="stylesheet" src="{% raw qiita_config.portal_dir %}/static/vendor/css/vis-network.min.css" type="text/css">
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/vendor/js/vis.min.js"></script>
<script type="text/javascript">

  function reload_UI_post_workflow_submission(artifact_id) {
    populate_main_div('{% raw qiita_config.portal_dir %}/study/description/baseinfo/', { study_id: {{study_info['study_id']}} });
  }

  var network = null;
  // Track what prep template is currently being shown.
  var curr_prep = -1;
  function togglegraphs(id) {
    if($("#study-prep-graph-row").css('display') == 'none' ) {
      $("#study-prep-graph-row").show();
      $("#graph-toggle-link").text("Hide files");
    } else {
      $("#study-prep-graph-row").hide();
       $("#graph-toggle-link").text("Show files");
    }
  }

  function fill_artifact(aid) {
    $("#study-main").html("<p><button onclick='process_from(" + aid + ")' class='btn btn-sm'>Process from here</button></p>ARTIFACT " + aid + " HTML STUFF");
  $.get("{% raw qiita_config.portal_dir %}/admin/artifact/", {artifact_id: +aid })
      .done(function ( data ) {
        $("#study-admin").html(data);
      });
  }

  function process_from(aid) {
    $.get("{% raw qiita_config.portal_dir %}/study/process/", { artifact_id: aid })
      .done(function ( data ){
        $("#study-prep-graph-row").hide();
        $("#graph-toggle-link").text("Show files");
        $("#study-main").html(data);
      });
  }

  function fill_prep(pid) {
    $("#study-main").empty();
    $("#study-admin").empty();
    $.get( "{% raw qiita_config.portal_dir %}/prep/graph/", { prep_id: pid} )
      .done(function( data ) {
        curr_prep = pid;
        var edges = [];
        var nodes = [];
        // format edge list data
        for(i=0;i<data.edge_list.length;i++) {
          edges.push({from: data.edge_list[i][0], to: data.edge_list[i][1]});
        }
        //format node depth data
        for(i=0;i<data.node_labels.length;i++) {
          nodes.push({id: data.node_labels[i][0], label: data.node_labels[i][1], shape: 'box'});
        }
        $("#study-prep-graph-row").show();
        draw_graph(nodes, edges, "study-prep-graph");
        // add event listeners
        network.on('select', function(params) {
          //render the information for the selected artifact ID
          if(+params.nodes !== 0) { fill_artifact(params.nodes); }
        });
        // Copy existing formatted prep info to header position
        $("#study-prep-subheader").html("<h2>" + $("#prep-header-" + pid).html() + '</h2><a href="#" onclick="togglegraphs(); return false;" id="graph-toggle-link">Hide files</a>');
    });
    $.get( "{% raw qiita_config.portal_dir %}/study/description/prep_template/", { prep_id: pid, study_id: {{study_info['study_id']}} } )
      .done(function( data ) {
        $("#study-main").html(data);
    });
  }

  function draw_graph(nodes, edges, target) {
    var container = document.getElementById(target);
    container.innerHTML = "";
    var nodes = new vis.DataSet(nodes);
    var edges = new vis.DataSet(edges);
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      clickToUse: true,
      nodes: {
        shape: 'dot',
        font: {
            size: 16,
            color: '#000000'
        },
        size: 13,
        borderWidth: 2,
      },
      edges: {
        color: 'grey'
      },
      layout: {
        hierarchical: {
          direction: "LR",
          sortMethod: "directed",
          levelSeparation: 260
        }
      },
      interaction: {
        dragNodes: false,
        dragView: true,
        zoomView: true,
        selectConnectedEdges: false,
        navigationButtons: true,
        keyboard: true
      },
      groups: {
        jobs: {
          color: '#FF9152'
        },
        artifact: {
          color: '#FFFFFF'
        }
      }
    };
  }

  function fill_sample(sid) {
    $.get( "{% raw qiita_config.portal_dir %}/study/description/sample_template/", { study_id: sid } )
      .done(function( data ) {
        curr_prep = -1;
        $("#study-main").html(data);
        $("#study-admin").empty();
        $("#study-prep-graph").empty();
        $("#study-prep-graph-row").hide();
        $("#study-file-breadcrumbs").empty();
        $("#study-file-breadcrumbs-row").hide();
        $("#study-prep-subheader").empty();
      });
  }

  function validate_delete_study_text() {
    if ($("#study-alias").val() == "{% raw study_title_msg %}") {
      $('#delete-study-button').prop('disabled', false);
    } else {
      $('#delete-study-button').prop('disabled', true);
    }
  }

  function delete_study() {
    if($("#study-alias").val() != "{% raw study_title_msg %}") {
      alert("The entered study alias doesn't match the study");
      return false;
    }
    else if(confirm("Are you sure you want to delete {% raw study_title_msg %}?")) {
      $.post('{% raw qiita_config.portal_dir %}/study/delete/', { study_id: {{study_info['study_id']}} })
        .done(function ( data ) {
          location.reload();
        });
    }
  }

  /**
   *
   * Function to populate the main div of the screen
   *
   * @param url string with the URL to perform the AJAX get call
   * @param parameters the parameters for the AJAX call
   *
   * This function executes an AJAX get against the URL provided with the given
   * parameters, and inserts the returned data as HTML in the study-main div
   *
   */
  function populate_main_div(url, parameters) {
    show_loading("study-main");
    $.get(url, parameters)
      .done(function(data) {
          $("#study-main").html(data);
      });
  }

  /**
   *
   * Function to populate the data-types-menu div
   *
   * This function executes an AJAX get against the URL
   * "/study/description/data_type_menu/" and inserts the returned data as
   * HTML in the data-types-menu div
   *
   */
  function populate_data_type_menu_div() {
    show_loading("data-types-menu");
    $.get("{% raw qiita_config.portal_dir %}/study/description/data_type_menu/", {study_id: {{study_info['study_id']}} })
      .done(function(data) {
        $("#data-types-menu").html(data);
      });
  }

  $(document).ready(function() {
    // Populate the different sections of the page
    populate_data_type_menu_div();
    // The initial page to be shown is the base information of the study
    populate_main_div("{% raw qiita_config.portal_dir %}/study/description/baseinfo/", { study_id: {{study_info['study_id']}}});

    {% if study_info['num_samples'] > 0 %}
      $("#sample-summary-btn").show();
      $("#add-new-preparation-btn").show();
    {% else %}
      $("#sample-summary-btn").hide();
      $("#add-new-preparation-btn").hide();
    {% end %}
  });
</script>
<style>
.graph {
  width:100%;
  height:300px;
  border: 1px solid #ccc;
}
</style>
{% end %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-default btn-block" onclick="populate_main_div('{% raw qiita_config.portal_dir %}/study/description/baseinfo/', { study_id: {{study_info['study_id']}} })"><span class="glyphicon glyphicon-info-sign"></span> Study Information</button>
    <button class="btn btn-default btn-block" onclick="populate_main_div('{% raw qiita_config.portal_dir %}/study/description/sample_template/', { study_id: {{study_info['study_id']}} })"><span class="glyphicon glyphicon-info-sign"></span> Sample Information</button>
    <button class="btn btn-default btn-block" onclick="populate_main_div('{% raw qiita_config.portal_dir %}/study/description/sample_summary/', { study_id: {{study_info['study_id']}} })" id="sample-summary-btn"><span class="glyphicon glyphicon-th-list"></span> Sample Summary</button>
    {% if editable %}
      <a class="btn btn-default btn-block" href="{% raw qiita_config.portal_dir %}/study/upload/{{study_info['study_id']}}"><span class="glyphicon glyphicon-upload"></span> Upload Files</a>
      <button class="btn btn-default btn-block" onclick="populate_main_div('{% raw qiita_config.portal_dir %}/study/new_prep_template/', { study_id: {{study_info['study_id']}} })" id="add-new-preparation-btn"><span class="glyphicon glyphicon-plus-sign"></span> Add New Preparation</button>
    {% end %}
    {% if study_info['show_biom_download_button'] %}
      <a class="btn btn-default btn-block" href="{% raw qiita_config.portal_dir %}/download_study_bioms/{{study_info['study_id']}}"><span class="glyphicon glyphicon-download-alt"></span> All QIIME maps and BIOMs</a>
    {% end %}
    {% if study_info['has_access_to_raw_data'] and study_info['show_raw_download_button'] %}
      <a class="btn btn-default btn-block" href="{% raw qiita_config.portal_dir %}/download_raw_data/{{study_info['study_id']}}"><span class="glyphicon glyphicon-download-alt"></span> All raw data</a>
    {% end %}
    <div style="text-align: center;"><small><a href="{% raw qiita_config.portal_dir %}/static/doc/html/faq.html#how-to-solve-unzip-errors">Issues opening the downloaded zip?</a></small></div>

    <div id="data-types-menu"></div>
  </div>

  <div class="col-md-9">
    <!-- Study ID and study alias always on top -->
    <div class="row">
      <div class="col-md-12" id="study-base-info">
        <h2>{% raw study_title %} - ID {{study_info['study_id']}}</h2>
        <h3>{{study_info['study_alias']}}</h3>
      </div>
    </div>
    <!-- Dynamic div that changes based on what information is shown -->
    <div class="row"><div class="col-md-12" id="study-main"></div></div>
  </div>
</div>

<!-- Modal used to delete the study -->
<div class="modal fade delete-study" tabindex="-1" role="dialog" id="delete-study">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Deleting:<br/></h3><h4>{% raw study_title %}</h4>
      </div>
      <div class="modal-body">
        You will only be able to delete a study that has no data associated with it.<br/>
        To continue you need to write the title of the study:<br/>
        <input type="text" name="study-alias" id="study-alias" onkeyup="validate_delete_study_text();" size="{{ len(study_title) }}">
        <button class="btn btn-danger glyphicon glyphicon-trash" onclick="delete_study();" id="delete-study-button" disabled></button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% end %}
