{% extends sitebase.html %}
{% block content %}

{% from future.utils import viewitems %}

<table border="0" style="vertical-align: middle; text-align:center; align:center; width: 100%;">
  <tr>
    <td style="vertical-align: middle; text-align:left; width: 50%;" colspan="2">
      <b>{{study_title}} ({{study_info['study_alias']}})</b>
      <br/>
      Samples: {{study_info['number_samples_promised']}}/{{study_info['number_samples_collected']}}
      <br/>
      Metadata: {{study_info['metadata_complete']}}
      <br/>
      <a href="/study/upload/{{study_id}}">Upload files</a>
      <br/>

      <!-- {'mixs_compliant': True,
      'reprocess': False,
      'emp_person_id': None,
      'funding': None,
      'vamps_id': None,
      'first_contact': '2014-09-22',
      'principal_investigator_id': 1L,
      'timeseries_type_id': 1L,
      'study_abstract':
      'Myrold_Alder_Fir',
      'spatial_series': None,
      'study_description': 'Myrold_Alder_Fir',
       'portal_type_id': 3L,
       'study_alias': 'Myrold_Alder_Fir',
       'most_recent_contact': None, 'lab_person_id': None, -->
    </td>
  </tr>
</table>

<br/>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#add_sample_template" role="tab" data-toggle="tab">Add sample template</a></li>
  {% if ste %}
    <li><a href="#add_raw_data" role="tab" data-toggle="tab">Add raw data</a></li>
  {% end %}

  {% for r in available_raw_data %}
    <li><a href="#raw_data_info_{{r.id}}" role="tab" data-toggle="tab">{{r.filetype}} (ID: {{r.id}})</a></li>
  {% end %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="add_sample_template" style="padding: 10px;">
    Select your sample template:
    <select id="sample_template">
      {% for f in files %}
        <option value="{{f}}">{{f}}</option>
      {% end %}
    </select>
    <br/>
    If you do not see your file in the selector, go <a href="/study/upload/{{study_id}}">here</a> to upload it.
    <br/><br/>
    <a class="btn btn-primary" onClick="process_sample_template();">Process sample template</a>

    <br/><br/>
    {% if ste %}
      You have a valid sample template, if you reprocess with a new file you <b>will loose</b> all prep and sequence information.
      <br/>
      You can modify a sample template <a onclick="alert('Not implemented! Coming soon.')">here</a>
    {% end %}
  </div>

  {% if ste %}
    <div class="tab-pane" id="add_raw_data" style="padding: 10px;">
      What file type is your raw data?
      <select id="filetype">
        <option value="">Not selected ...</option>
        {% raw filetypes %}
      </select>
      <br/><br/>
      You could also select raw data from other studies that you have access to:
      <select id="previous_raw_data">
        <option value="">Not selected ...</option>
      </select>
      <br/><br/>
      <a class="btn btn-primary" onClick="create_raw_data();">Add raw data</a>
    </div>
  {% end %}

  <!-- Adding raw data to template -->
  {% for r in available_raw_data %}
    <div class="tab-pane" id="raw_data_info_{{r.id}}" style="padding: 10px;">
      <table border="0">
        <tr>
          <td style="vertical-align:top;padding:10px;">
            <h4>Add prep template to this raw data</h4>
            To add a prep template you need to (1) select your prep template file
            <select id="add_prep_template_{{r.id}}">
              {% for f in files %}
                <option value="{{f}}">{{f}}</option>
              {% end %}
            </select>
            and (2) the prep template data type:
            <select id="data_type_{{r.id}}">
              {% raw data_types %}
            </select>
            <br/><br/>
            You can also <a href="/study/upload/{{study_id}}">upload</a> some files.
            <br/><br/>
            <a class="btn btn-primary" onClick="add_prep_template({{r.id}});">Add prep template</a>
            <br/>
            <hr/>
            <h4>Prep templates uploaded</h4>
            <table border="1">
              {% for prep in available_prep_templates[r.id] %}
              <tr>
                <td style="padding:3px;">{{prep.data_type()}}</td>
                {% if not prep.preprocessed_data %}
                  <td style="padding:3px;">
                    <a class="btn btn-primary" href="/metadata_summary/?sample_template={{study_id}}&prep_template={{prep.id}}">Show metadata Summary</a>
                  </td>
                  <td style="padding:3px;">
                    <input type="button" class="btn btn-primary" value="Split libraries" onclick="split_libraries({{prep.id}});">
                    <input type="checkbox" id="rev_comp_mapping_barcodes_{{prep.id}}"> Use rev_comp_mapping_barcodes
                  </td>
                {% else %}
                  <td style="padding:3px;">{{prep.data_type()}}</td>
                {% end %}
              </tr>
              {% end %}
            </table>
            <br/>
          </td>
          <td style="vertical-align:top;padding:10px;">
            <h4>Link uploaded files with raw data</h4>
            <table border="0">
              <tr>
                <th>File</th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th>File type</th>
              </tr>
            {% for f in files %}
              <tr>
                <td>{{f}}</td>
                <td>&nbsp;</td>
                <td>
                  <select id="raw_data_info_{{r.id}}">
                    <option value="">Ignore ...</option>
                    {% raw filepath_types %}
                  </select>
                </td>
              </tr>
            {% end %}
            </table>
            <br/>
            <a class="btn btn-primary" onClick="link_files_to_raw_data({{r.id}});">Link raw files to: {{r.filetype}} (ID: {{r.id}})</a>
          </td>
        </table>
    </div>
  {% end %}
</div>

{% raw msg %}


<script>
  function process_sample_template() {
    if (confirm("Are you sure you want to (re)process the sample template?")) {
      var form = $("<form>")
        .attr("action", window.location.href)
        .attr("method", "post")
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "sample_template")
          .attr("value", $("#sample_template").val()));
      $("body").append(form);
      form.submit();
    }
  }

  function create_raw_data() {
    if ($("#previous_raw_data").val() === "" && $("#filetype").val() === "") {
      alert("You need to select either a new file type or a raw data used in a previous study.");
    } else if ($("#previous_raw_data").val() !== "" && $("#filetype").val() !== "") {
      alert("You can only select a new file type or one used in a previous study but not both.");
    } else {
      if (confirm("Are you sure you want to create a new raw data?")) {
        var form = $("<form>")
          .attr("action", window.location.href)
          .attr("method", "post")
          .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "filetype")
            .attr("value", $("#filetype").val()))
          .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "previous_raw_data")
            .attr("value", $("#previous_raw_data").val()));
        $("body").append(form);
        form.submit();
      }
    }
  }

  function add_prep_template(raw_data_id) {
    if (confirm("Are you sure you want to add a new prep template?")) {
      var form = $("<form>")
        .attr("action", window.location.href)
        .attr("method", "post")
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "raw_data_id")
          .attr("value", raw_data_id))
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "add_prep_template")
          .attr("value", $("#add_prep_template_" + raw_data_id).val()))
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "data_type_id")
          .attr("value", $("#data_type_" + raw_data_id).val()));
      $("body").append(form);
      form.submit();
    }
  }

  function link_files_to_raw_data(raw_data_id) {
    alert(raw_data_id);
  }


  function split_libraries(prep_template_id) {
    if (confirm("Are you sure you want to submit a split libraries job?")) {
      var form = $("<form>")
        .attr("action", "/study/preprocess")
        .attr("method", "post")
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "study_id")
          .attr("value", {{study_id}}))
          .append($("<input>")
            .attr("type", "hidden")
            .attr("name", "prep_template_id")
            .attr("value", prep_template_id))
        .append($("<input>")
          .attr("type", "hidden")
          .attr("name", "rev_comp_mapping_barcodes")
          .attr("value", $("#rev_comp_mapping_barcodes_" + prep_template_id).is(':checked')));
      $("body").append(form);
      form.submit();
    }
  }

  if ("{{tab_to_display}}") {
    $('#myTab a[href="#raw_data_info_{{tab_to_display}}"]').tab('show');
  } else {
    $('#myTab a:last').tab('show');
  }

</script>

{% end %}
