{% extends sitebase.html %}
{% block content %}

<table border="0" style="vertical-align: middle; text-align:center; align:center; height: 150px; width: 100%;">
  <tr>
    <td style="vertical-align: middle; text-align:left; width: 50%;" colspan="2">
      <b>Uploading files for: {{study_title}} ({{study_info['study_alias']}})</b>
      <br/><br/>
      Currently we can process (<b>{{extensions.replace(',',', ')}}</b>):
      <ul>
        <li>fastq or fastq.gz (gzipped fastq) for sequences. Note that '.zip' files can not be processed.</li>
        <li>tab separated text files for sample and prep templates, the extension should be txt.</li>
      </ul>
      <a href="{% raw qiita_config.portal_dir %}/study/description/{{study_id}}">&lt;&lt; Go to study description</a>
    </td>
  </tr>

  <tr>
    <td style="vertical-align: middle; text-align:center; width: 50%;" colspan="2"><b>Upload files (max file size: {% if max_upload_size/1000==0 %} {{max_upload_size}} GB {% else %} {{max_upload_size/1000.0}} TB {% end %})</b></td>
  </tr>

  <tr>
    <td style="vertical-align: top; text-align:center; " colspan="2">
      <div style="height: 150px; width: 100%; background-color:lightgrey; border: 2px solid; border-radius: 25px;" class="resumable-drop-metadata" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
        <p style="vertical-align: middle;">Drop files here to upload or <a class="resumable-browse-metadata"><u>select from your computer</u></a></p>
      </div>

      <div class="progress-metadata" style="display:none;">
        <table>
          <tr>
            <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
            <td class="progress-text" nowrap="nowrap"></td>
            <td class="progress-pause" nowrap="nowrap">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" onclick="uploader.resumable.upload(); $('#uploader_status').html('~~ Uploading ~~'); return(false);" class="progress-resume-link"><span class="glyphicon glyphicon-play"></span></a>
              <a href="#" onclick="uploader.resumable.pause(); $('#uploader_status').html('~~ Paused ~~'); return(false);" class="progress-pause-link"><span class="glyphicon glyphicon-pause"></span></a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="blinking-message">
                <div id="uploader_status">~~ Uploading ~~</div>
                Keep track of your upload or pause/resume it! <span class="glyphicon glyphicon-arrow-up"></span>
                <br/>
                <small>Your upload won't be interrupted if you change networks or you close your computer, just make sure you don't leave this page. </small>
              </div>
            </td>
          <tr>
        </table>
      </div>

      <hr>
      <h3><u>Uploaded files</u></h3>
      <br/>
      <form method="post" id="delete-files-form">
        <div class="uploader-list" style="display:none;">
        </div>
      </form>

      <div class="file-edit-container" style="display:none;">
      </div>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>
      <button type="button" class="btn btn-danger" onclick="if(confirm('Are you sure you want to delete the selected files? You can not undo this action')) { $('#delete-files-form').submit() }">
          <span class="glyphicon glyphicon-trash"></span> Delete selected files
      </button>
    </td>
  </tr>
</table>
<div style='width:inherit;text-align:center;padding-top:30px'>
  <small><a href="{% raw qiita_config.portal_dir %}/study/description/{{study_id}}">&lt;&lt; Go to study description</a></small>
</div>

<!-- Upload required files and JS code -->
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/resumable.js"></script>
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/resumable-uploader.js"></script>
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/underscore.min.js"></script>
<script src="{% raw qiita_config.portal_dir %}/static/vendor/js/string.min.js"></script>

<script>
  var meta = { fileType: [] };
  var maxFileSize = {{max_upload_size}}; // in GB

  uploader = (function($){
      return (new ResumableUploader(meta, $('.resumable-browse-metadata'),
                                    $('.resumable-drop-metadata'), $('.progress-metadata'),
                                    $('.uploader-list'), $('.file-edit-container'),
                                    maxFileSize, "{{study_id}}", "{{extensions}}",
                                    "{% raw qiita_config.portal_dir %}", '{{is_admin}}'=='True',
                                    '{% raw qiita_config.portal_dir %}/download_upload/{{study_id}}/'));
    })(jQuery);

  {% for dirid, filename in files %}
    uploader.addFile({ "dirid": "{{dirid}}", "fileName": "{{filename}}" });
  {% end  %}
</script>

{% end %}
