{%extends sitebase.html%}
{% block head %}
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/vendor/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% raw qiita_config.portal_dir %}/static/js/password_validation.js"></script>
<script type="text/javascript">
$( document ).ready(function() { dualpass_validator(); });
</script>
{% end %}

{%block content%}
<div class="row">
  <div class="col-lg-6">
    <h3>User Information</h3>
    <form role="form" action="{% raw qiita_config.portal_dir %}/profile/" method="post">
      <input type="hidden" name="action" value="profile">
      {% for form_item in profile %}
      <div class="form-group">
        <label for="oldpass" class="col-sm-10 control-label">{% raw form_item.label %}</label>
        {% raw form_item(class_='form-control') %}
      </div>
      {% end %}
      <div style="color:red;">{{msg}}</div>
    </form>
  </div>
</div>
{%end%}
