{% from qiita_core.qiita_settings import qiita_config %}

<script type="text/javascript">
  var processing_network;
  var nodes = new vis.DataSet([{id: {{artifact_id}}, label: "{{name}} - ({{type}})", group: "type", name: "{{name}}", type: "{{type}}"}]);
  var edges = new vis.DataSet();

  /*
   * Submit the current workflow for execution
   *
   * This function executes an AJAX call to submit the current workflow
   * for execution
   *
   */
  function run_workflow() {
    var w_id = $("#graph-network-div").attr("data-wf-id");
    $.post("{% raw qiita_config.portal_dir %}/study/process/workflow/run/", {workflow_id: w_id}, function(data){
      bootstrapAlert("Workflow " + w_id + " submitted", "success");
      reload_UI_post_workflow_submission({{artifact_id}});
    })
      .fail(function(object, status, error_msg) {
        bootstrapAlert("Error submitting workflow: " + object.statusText, "danger");
      });
  }

  /*
   * Load the GUI for the selected job
   *
   * @param p_nodes list the ids of the selecting nodes
   *
   * Only one job node can be selected at a time. If the user tries to select
   * more than one, an alert is shown. Otherwise, this function executes an
   * AJAX call to retrieve the information of the selecting job and udpates
   * the GUI to show such information
   *
   */
  function load_job(p_nodes) {
    if(p_nodes.length > 1) {
      $("#processing-info-div").empty();
      alert("Please choose only one job node at a time");
    }
    else {
      var j_id = p_nodes[0];
      $.get('{% raw qiita_config.portal_dir %}/study/process/job/', {job_id: j_id})
        .done(function(data) {
          $("#processing-info-div").empty();
          if (data.status == 'success') {
            var keys = ['job_id', 'job_status', "job_step"];
            var d = $("<div>").appendTo("#processing-info-div");
            for(var i in keys) {
              if (data[keys[i]]) {
                d.append("<b>" + keys[i].replace('_', ' ') + ": </b> " + data[keys[i]] + "</br>");
              }
            }
            d.append("<b> job parameters: </b></br>");
            for(var key in data.job_parameters) {
              d.append("<i>" + key + ":</i> " + data.job_parameters[key] + "</br>");
            }
            d.append('<button class="btn btn-danger btn-sm" onclick="remove_job(\'' + j_id + '\');"><span class="glyphicon glyphicon-trash"></span> Remove job</button>');
          }
          else {
            bootstrapAlert(data.message, "danger");
          }
        });
    }
  }

  /*
   * Add a job node to the network visualization
   *
   * @param job_info object The information of the new job to be added
   *
   * This function adds a new job node to the network visualization, as well as
   * adding the needed children and edges between its inputs and outputs (children)
   *
   */
  function add_job_node_to_graph(job_info) {
    // Fun fact - although it seems counterintuitive, in vis.Network we
    // first need to add the edge and then we can add the node. It doesn't
    // make sense, but it is how it works
    $(job_info.inputs).each(function(){
      edges.add({id: edges.length + 1, from: this, to: job_info.id});
    });
    nodes.add({id: job_info.id, group: "job", label: job_info.label});
    $(job_info.outputs).each(function(){
      var out_name = this[0];
      var out_type = this[1];
      var n_id = job_info.id + ":" + out_name;
      edges.add({id: edges.length + 1, from: job_info.id, to: n_id });
      nodes.add({id: n_id, label: out_name + " - (" + out_type + ")", group: "type", name: out_name, type: out_type});
    });
    processing_network.redraw();
  }

  /*
   * Adds a new job to the current workflow
   *
   * @param command_id int the command to execute on the new job
   * @param params_id int the id of the default parameter set to be used in the new job
   * @param req_params object the required parameters of the new job
   * @param opt_params obect the optional parameters of the new job
   * @param workflow_id int the current workflow id
   *
   * This function formats the data correctly and executes an AJAX call to
   * create and add a new job to the current workflow
   *
   */
  function create_job(command_id, params_id, req_params, opt_params, workflow_id) {
    var value = {'dflt_params': params_id};
    var connections = {}
    var r_params = {}
    for (var param in req_params) {
      var vs = req_params[param].split(':');
      if (vs.length == 2) {
        if(!connections.hasOwnProperty(vs[0])){
          connections[vs[0]] = {};
        }
        connections[vs[0]][vs[1]] = param;
      }
      else {
        r_params[param] = req_params[param];
      }
    }
    value['connections'] = connections;
    value['req_params'] = r_params;
    value['opt_params'] = opt_params;
    $.ajax({
      url: '{% raw qiita_config.portal_dir %}/study/process/workflow/',
      type: 'PATCH',
      data: {'op': 'add', 'path': workflow_id, 'value': JSON.stringify(value)},
      success: function(data) {
        if(data.status == 'error') {
          bootstrapAlert(data.message, "danger");
        }
        else {
          var inputs = [];
          for(var k in req_params) {
            inputs.push(req_params[k]);
          }
          data.job.inputs = inputs;
          add_job_node_to_graph(data.job);
        }
      }
    });
  }

  /*
   * Create a new workflow
   *
   * @param cmd_id int the command to execute on the first job of the workflow
   * @param params object the parameters of the first job of the workflow
   *
   * This function executes an AJAX call to create a new workflow by providing
   * the first job in the workflow. It then stores the workflow id in the
   * "data-wf-id" attribute of the "graph-network-div" div.
   *
   */
  function create_workflow(cmd_id, params) {
    $.post('{% raw qiita_config.portal_dir %}/study/process/workflow/', {command_id: cmd_id, params: JSON.stringify(params) })
      .done(function(data) {
        if (data.status == 'success') {
          $("#graph-network-div").attr("data-wf-id", data.workflow_id);
          add_job_node_to_graph(data.job);
        }
        else {
          bootstrapAlert(data.message, "danger");
        }
      });
  }

  /*
   * Adds a new job to the workflow
   *
   * This function retrieves the information to add a new job to the workflow.
   * If the workflow still doesn't exist, it calls 'create_workflow'. Otherwise
   * it calls "create_job".
   *
   */
  function add_job() {
    var command_id = $("#command-sel").val();
    var params_id = $("#params-sel").val();
    var params = {};
    // Collect the required parameters
    var req_params = {};
    $(".required-parameter").each( function () {
      params[this.id] = this.value;
      req_params[this.id] = this.value;
    });
    // Collect the optional parameters
    var opt_params = {};
    $(".optional-parameter").each( function () {
      params[this.id] = this.value;
      opt_params[this.id] = this.value;
    });

    var workflow_id = $("#graph-network-div").attr("data-wf-id");

    show_loading('graph-network-div');
    show_loading('processing-info-div');

    if (workflow_id == -1) {
      // This is the first command to be run, so the workflow still doesn't
      // exist in the system.
      create_workflow(command_id, params);
    }
    else {
      create_job(command_id, params_id, req_params, opt_params, workflow_id);
    }
    $("#processing-info-div").empty();
    $('#run-btn').prop('disabled', false);
    $("#graph-network-div").attr("data-wf-job-count", +$("#graph-network-div").attr("data-wf-job-count") + 1);
  }

  /*
   * Load the GUI for a given command parameter
   *
   * @param p_name str the name of the parameter
   * @param param_info object the information of the parameter
   * @param sel_artifacts_info object with the information of the currently selected artifacts
   * @param target DOM div to add the parameter gui
   * @param dflt_val object with the default value to use for the given parameter
   * @param allow_change_optionals bool whether to allow changing the default optional parameters or not
   *
   * This function generates the needed GUI specific to the given parameter type
   *
   */
  function load_parameter_gui(p_name, param_info, sel_artifacts_info, target, dflt_val, allow_change_optionals) {
    // Create the parameter interface
    var $rowDiv = $('<div>').addClass('row').addClass('form-group').appendTo(target);
    // Replace the '_' by ' ' in the parameter name for readability
    $('<label>').addClass('col-sm-2').addClass('col-form-label').text(p_name.replace('_', ' ') + ': ').appendTo($rowDiv).attr('for', p_name);
    var $colDiv = $('<div>').addClass('col-sm-3').appendTo($rowDiv);

    var p_type = param_info[0];
    var allowed_types = param_info[1];
    var $inp;

    if (p_type == 'artifact' || p_type.startsWith('choice') || p_type.startsWith('mchoice')) {
      // The parameter type is an artifact or choice, the input type is a dropdown
      $inp = $('<select>');
      // show a dropdown menu with the
      var options = [];
      if (p_type.startsWith('choice') || p_type.startsWith('mchoice')) {
        $.each(JSON.parse(p_type.split(':')[1]), function (idx, val) { options.push([val, val]); });

        if (p_type.startsWith('mchoice')) {
          $inp.attr('multiple', true);
        }
      }
      else {
        // available artifacts of the given type
        for(var key in sel_artifacts_info) {
           if(allowed_types.indexOf(sel_artifacts_info[key].type) !== -1) {
             options.push([key, sel_artifacts_info[key].name]);
           }
        }
      }

      $.each(options, function(idx, val) {
        $inp.append($("<option>").attr('value', val[0]).text(val[1]));
      });
    }
    else {
      // The rest of parameter types are represented with an input
      $inp = $('<input>');
      // It just changes the type of input
      if (p_type == 'integer') {
        // For the integer type, show an input of type number
        $inp.attr('type', 'number');
      }
      else if (p_type == 'float') {
        // For the float type, show an input of type number, with a step of 0.001
        $inp.attr('type', 'number').attr('step', 0.001);
      }
      else if (p_type == 'string') {
        // For the float type, show an input of type text
        $inp.attr('type', 'text');
      }
      else if (p_type == 'boolean') {
        // For the boolean type, show an input of type checkbox
        $inp.attr('type', 'checkbox');
      }
      else {
        bootstrapAlert("Error: Parameter type (" + p_type + ") not recognized. Please, take a screenshot and <a href='mailto:qiita.help@gmail.com'>contact us</a>", "danger");
      }
    }

    if (dflt_val !== undefined) {
      if (p_type == 'boolean') {
        // The boolean type works differently than the others, so we needed
        // to special case it here.
        $inp.prop('checked', dflt_val);
      }
      else {
        $inp.val(dflt_val);
      }
      if (!allow_change_optionals) {
        $inp.prop('disabled', true);
      }
      $inp.addClass('optional-parameter');
    }
    else {
      $inp.addClass('required-parameter');
    }

    $inp.appendTo($colDiv).attr('id', p_name).attr('name', p_name).addClass('form-control');
  }

  /*
   * Load the GUI for the options of a command
   *
   * @param cmd_id int the command to load the options from
   * @param sel_artifacts_info object with the information of the currently selected artifacts
   * @param is_analysis_pipeline bool whether we are in the analysis pipeline or not
   *
   * This function executes an AJAX call to retrieve the information about the
   * options of the given command and generates the GUI to present those options
   * to the user
   *
   */
  function load_command_options(cmd_id, sel_artifacts_info, is_analysis_pipeline) {
    $.get('{% raw qiita_config.portal_dir %}/study/process/commands/options/', {command_id: cmd_id})
      .done(function(data){
          // Put first the required parameters
          $("#cmd-opts-div").append($('<h4>').text('Required parameters:'));
          for(var key in data.req_options) {
            load_parameter_gui(key, data.req_options[key], sel_artifacts_info, $("#cmd-opts-div"));
          }

          // Put a dropdown menu to choose the default parameter set
          $("#cmd-opts-div").append($('<h4>').text('Optional parameters:'));
          var $rowDiv = $('<div>').addClass('row').addClass('form-group').appendTo("#cmd-opts-div");
          $('<label>').addClass('col-sm-2').addClass('col-form-label').text('Parameter set:').appendTo($rowDiv).attr('for', 'params-sel');
          var $colDiv = $('<div>').addClass('col-sm-3').appendTo($rowDiv);
          var sel = $('<select>').appendTo($colDiv).attr('id', 'params-sel').attr('name', 'params-sel').addClass('form-control').attr('placeholder', 'Choose parameter set...');
          sel.append($("<option>").attr('value', "").text("Choose parameter set...").prop('disabled', true).prop('selected', true));
          for(var i=0; i<data.options.length; i++) {
            sel.append($("<option>").attr('value', data.options[i].id).attr('data-vals', JSON.stringify(data.options[i].values)).text(data.options[i].name));
          }
          $("<div>").appendTo("#cmd-opts-div").attr('id', 'opt-vals-div').attr('name', 'opt-vals-div');

          sel.change(function(){
            var v = $("#params-sel").val();
            $("#opt-vals-div").empty();
            if (v !== "") {
              if (!is_analysis_pipeline) {
                $("#opt-vals-div").append($('<label>').text('Note: changing default parameter values not allowed'));
              }
              // Get the parameter set values that the user selected
              var opt_vals = JSON.parse($("#params-sel option[value='" + v + "']").attr("data-vals"));
              for(var key in data.opt_options) {
                load_parameter_gui(key, data.opt_options[key], sel_artifacts_info, $("#opt-vals-div"), opt_vals[key], is_analysis_pipeline);
              }
              $("#add-cmd-btn-div").show();
            }
            else {
              $("#add-cmd-btn-div").hide();
            }
          });

          sel.show(function(){
            // select first option if only 2 options ("Choose parameter set", "unique value")
            if ($("#params-sel option").length == 2) {
              $("#params-sel")[0].selectedIndex = 1;
              $("#params-sel").trigger("change");
            }
          });
      });
  }

  /*
   * Generates the GUI for selecting the commands to apply to the given artifacts
   *
   * @param p_nodes list The ids of the selected artifacts
   * @param is_analysis_pipeline bool whether we are in the analysis pipeline or not
   *
   * This function executes an AJAX call to retrieve all the commands that can
   * process the selected artifacts. It generates the interface so the user
   * can select which command should be added to the workflow
   *
   */
  function load_artifact_type(p_nodes, is_analysis_pipeline) {
    var types = [];
    var sel_artifacts_info = {};
    var t;
    var node;
    for(var i=0; i < p_nodes.length; i++) {
      node = nodes.get(p_nodes[i]);
      if(types.indexOf(node.type) === -1) {
        types.push(node.type);
      }
      sel_artifacts_info[node.id] = {'type': node.type, 'name': node.name}
    }
    $.get('{% raw qiita_config.portal_dir %}/study/process/commands/', {artifact_types: types, include_analysis: is_analysis_pipeline})
      .done(function (data) {
        $("#processing-info-div").empty();

        // Create the command select dropdown
        var $rowDiv = $('<div>').addClass('row').addClass('form-group').appendTo("#processing-info-div");
        $('<label>').addClass('col-sm-2').addClass('col-form-label').text('Choose command:').appendTo($rowDiv).attr('for', 'command-sel');
        var $colDiv = $('<div>').addClass('col-sm-3').appendTo($rowDiv);
        var sel = $('<select>').appendTo($colDiv).attr('id', 'command-sel').attr('name', 'command').addClass('form-control').attr('placeholder', 'Choose command...');
        sel.append($("<option>").attr('value', "").text("Choose command...").prop('disabled', true).prop('selected', true));
        for(var i=0; i<data.commands.length; i++) {
          sel.append($("<option>").attr('value', data.commands[i].id).text(data.commands[i].command));
        }
        sel.change(function(event) {
          $("#cmd-opts-div").empty();
          $("#add-cmd-btn-div").hide();
          var v = $("#command-sel").val();
          if (v !== "") {
            load_command_options(v, sel_artifacts_info, is_analysis_pipeline);
          }
        });

        // Create the div in which the command options will be shown
        $('<div>').appendTo('#processing-info-div').attr('id', 'cmd-opts-div').attr('name', 'cmd-opts-div');

        // Create the add command button - but not show it yet
        var $rowDiv = $('<div hidden>').addClass('row').addClass('form-group').appendTo('#processing-info-div').attr('id', 'add-cmd-btn-div').attr('name', 'add-cmd-btn-div');
        var $colDiv = $('<div>').addClass('col-sm-2').appendTo($rowDiv);
        $('<button>').appendTo($colDiv).addClass('btn btn-info').text('Add Command').click(add_job);
      });
  }

  $(document).ready(function() {
    // Create the network object
    // 'get(0)' is used to return the actual DOM element, which is what
    // vis.Network needs.
    var container = $('#graph-network-div').get(0);
    var data = {nodes: nodes, edges: edges};

    var options = {
      clickToUse: true,
      nodes: {
        shape: 'dot',
        font: {
            size: 16,
            color: '#000000'
        },
        size: 13,
        borderWidth: 2,
      },
      edges: {
        color: 'grey'
      },
      layout: {
        hierarchical: {
          direction: "LR",
          sortMethod: "directed",
          levelSeparation: 260
        }
      },
      interaction: {
        dragNodes: false,
        dragView: true,
        zoomView: true,
        selectConnectedEdges: false,
        navigationButtons: true,
        keyboard: false
      },
      groups: {
        jobs: {
          color: '#FF9152'
        },
        type: {
          color: '#FFFFFF'
        }
      }
    };

    processing_network = new vis.Network(container, data, options);
    processing_network.on('select', function(params) {
      // Update the GUI with the information for the selected node type
      if(params.nodes.length !== 0) {
        // Make sure all selcted nodes are of same group
        var group = nodes.get(params.nodes[0]).group;
        for(var i=0; i<params.nodes.length; i++) {
          if(nodes.get(params.nodes[i]).group != group) {
            $("#processing-info-div").empty();
          }
        }
        if(group == 'job') {
          load_job(params.nodes);
        }
        else if(group == 'type') {
          load_artifact_type(params.nodes, {% raw str(allow_change_optionals).lower() %});
        }
        else {
          $("#processing-info-div").empty();
        }
      }
    });
  });
</script>

<!-- Title -->
<div class="row">
  <div class="col-md-12">
    <h4>Processing {{name}} (ID: {{artifact_id}})</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>
      <i>Processing workflow</i>
      <button class="btn btn-primary btn-sm" onclick="run_workflow();" id='run-btn' disabled><span class="glyphicon glyphicon-play"></span> Run</button>
    </h4>
    <div class="blinking-message">
      <small>Don't forget to hit "Run" once you are done with your workflow!</small>
    </div>
    <h5>
      Wondering what to select? Check our data <a target='_blank' onclick="return !window.open(this.href, 'Qiita processing recommendations', 'width=800,height=500')" href='{% raw qiita_config.portal_dir %}/static/doc/html/processing-recommendations.html'>processing recommendations</a>.
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12 graph" id="graph-network-div" data-wf-id="-1" data-wf-job-count="0">
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="processing-info-div">
  </div>
</div>
