<table id="edit-investigation-type-table" name="edit-investigation-types" class="investigation-type-table">
    <tr>
      <td>
        Selected investigation type:
      </td>
      <td>
        <select id="edit-investigation-type-{{prep_id}}-{{ppd_id}}" onclick="investigationTypeChanged({{prep_id}}, {{ppd_id}}, true)" onchange="investigationTypeChanged({{prep_id}}, {{ppd_id}}, true)">
          <option value="None Selected">None Selected</option>
          {% raw ena_terms %}
        </select>
      </td>
    </tr>
    <tr id="edit-user-defined-investigation-types-{{prep_id}}-{{ppd_id}}" style="display:none;">
      <td>
        User defined investigation type:
      </td>
      <td>
        <select onclick="newInvestigationTypeChanged({{prep_id}}, {{ppd_id}}, true)" onchange="newInvestigationTypeChanged({{prep_id}}, {{ppd_id}}, true)" id="edit-user-defined-investigation-type-{{prep_id}}-{{ppd_id}}">
        {% for term in user_defined_terms %}
          <option value="{{term}}">{{term}}</option>
        {% end %}
        </select>
      </td>
    </tr>
    <tr id="edit-new-investigation-type-entry-{{prep_id}}-{{ppd_id}}" style="display:none;">
      <td>
        New investigation type:
      </td>
      <td>
        <input type="text" id="edit-new-investigation-type-{{prep_id}}-{{ppd_id}}" name="new-investigation-type" class="form-control">
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-warning" onclick="update_investigation_type('{{investigation_type}}', {{prep_id}}, {{ppd_id}})">Update Investigation Type</a>
      </td>
    </tr>
  </table>

<!--
  We need this JavaScript block here because the elements
  that we modify only exist if the HTML code above has
  been rendered
-->
<script>
if ("{{investigation_type}}" !== "None") {
  // if the investigation type is a known ENA term, set as needed
  if ($("#edit-investigation-type-{{prep_id}}-{{ppd_id}} option[value='{{investigation_type}}']").length > 0 ){
    $('#edit-investigation-type-{{prep_id}}-{{ppd_id}}').val("{{investigation_type}}");
  }
  // else set as Other and load the fields to change the data
  else{
    $('#edit-investigation-type-{{prep_id}}-{{ppd_id}}').val("Other");
    investigationTypeChanged({{prep_id}}, {{ppd_id}}, true);
    if ($("#edit-user-defined-investigation-type-{{prep_id}}-{{ppd_id}} option[value='{{investigation_type}}']").length > 0 ){
      $('#edit-user-defined-investigation-type-{{prep_id}}-{{ppd_id}}').val("{{investigation_type}}");
    }
  }
}
else{
  $('#edit-investigation-type-{{prep_id}}-{{ppd_id}}').val("None Selected");
}
</script>
