<div class="tab-pane" id="prep_template_tab" style="padding: 10px;">

  <ul class="nav nav-tabs" role="tablist" id="prep_template_nav_tabs">
    <!-- Nav tab: adding prep template -->
    <li class="active"><a href="#add_prep_template_tab" role="tab" data-toggle="tab">Add prep template</a></li>
    <!-- Nav tabs: one for each prep template available -->
  {% for pt_id, pt_data_type, _, (class_icon1, class_icon2, color), ebi in available_prep_templates %}
    <li><a href="#prep_template_info_{{pt_id}}" role="tab" data-toggle="tab">
      {{pt_data_type}} (ID: {{pt_id}})&nbsp;&nbsp;
      {% if ebi %} EBI {% end %}
        <div class="{{class_icon1}}" style="color: {{color}};"></div>
        <div class="{{class_icon2}}" style="color: {{color}};"></div>
      <button class="close" title="Remove this prep template" type="button" onclick="delete_prep_template('{{pt_data_type}}', {{pt_id}})">&nbsp; ×</button>
    </a></li>
  {% end %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Show the add raw data tab -->
    <div class="tab-pane active" id="add_prep_template_tab" style="padding: 10px;">
      To add a prep template you need to:
      <ol>
        <!-- Step 1: choose the prep template file -->
        <li>
          Select your prep template file (only files with the "txt" and "tsv" file extensions will be displayed here):
          <select id="add_prep_template">
            {% for f in files %}
              <option value="{{f}}">{{f}}</option>
            {% end %}
          </select>
        </li>
        <!-- Step 2: choose the prep template data type -->
        <li>
          Select the prep template data type
          <select id="data_type">
            {% for name, value in data_types %}
              <option value="{{value}}">{{name}}</option>
            {% end %}
          </select>
        </li>
        <!-- Step 3 (optional): select investigation type -->
        <li>
          Select an investigation type (optional but required for EBI submission):
          <select onclick="investigationTypeChanged('new')" onchange="investigationTypeChanged('new')" id="investigation-type-new">
            <option value="None Selected">None Selected</option>
            {% raw ena_terms %}
          </select>
          <table id="investigation-type-table" name="investigation-types" class="investigation-type-table">
            <tr id="user-defined-investigation-types-new" style="display:none;">
              <td>
                Select one of the user defined investigation types:
              </td>
              <td>
                <select onclick="newInvestigationTypeChanged('new')" onchange="newInvestigationTypeChanged('new')" id="user-defined-investigation-type-new">
                  {% for term in user_defined_terms %}
                    <option value="{{term}}">{{term}}</option>
                  {% end %}
                </select>
              </td>
            </tr>
            <tr id="new-investigation-type-entry-new" style="display:none;">
              <td>Enter a new investigation type:</td>
              <td>
                <input type="text" id="new-investigation-type-new" name="new-investigation-type" class="form-control"></input>
              </td>
            </tr>
          </table>
        </li>
      </ol>
      <br/>
      <a class="btn btn-primary" onclick="add_prep_template();">Add prep template</a>
    </div>

    <!-- Show Prep template info tabs -->
    {% for _, _, pt, _, _ in available_prep_templates %}
      {% module PrepTemplateInfoTab(study, pt, full_access, ena_terms, user_defined_terms) %}
    {% end %}

  </div>

</div>
