<div class="tab-pane" id="preprocessed_data_tab" style="padding: 10px;">
  <!-- Check if we have any preprocessed data -->
  {% if available_preprocessed_data %}
    <ul class="nav nav-tabs" role="tablist" id="preprocessed_data_nav_tabs">
      <!-- Adding a preprocessed data -->
      <li class="active"><a href="#add_preprocessed_data_tab" role="tab" data-toggle="tab">Add preprocessed data</a></li>
      <!-- Create the tabs for each preprocessed data -->
      {% for ppd, (class_icon1, class_icon2, color), ebi in available_preprocessed_data %}
        <li><a href="#preprocessed_data_info_{{ppd.id}}" role="tab" data-toggle="tab">ID: {{ppd.id}}&nbsp;&nbsp;
          {% if ebi %} EBI {% end %}
          <div class="{{class_icon1}}" style="color: {{color}};"></div>
          <div class="{{class_icon2}}" style="color: {{color}};"></div>
          <button class="close" title="Remove this preprocessed data" type="button" onclick="delete_preprocessed_data({{ppd.id}})">&nbsp; ×</button>
          </a>
        </li>
      {% end %}
    </ul>
    <!-- Create the tab panes -->
    <div class="tab-content">
      <!-- Show the add preprocessed data tab -->
      <div class="tab-pane active" id="add_preprocessed_data_tab" style="padding: 10px;">
        <b>Not implemented! Coming soon...</b>
      </div>
      <!-- Create one tab pane for each preprocessed data -->
      {% for ppd, _, _ in available_preprocessed_data %}
        {% module PreprocessedDataInfoTab(study_id, ppd) %}
      {% end %}
    </div>
  {% else %}
    <!-- If there is no preprocessed data we just show a message -->
    There is no preprocessed data available
  {% end %}
</div>
