<div class="tab-pane" id="processed_data_tab" style="padding: 10px;">
  <!-- Check if we have any preprocessed data -->
  {% if available_processed_data %}
    <ul class="nav nav-tabs" role="tablist" id="processed_data_nav_tabs">
      <!-- Adding a processed data -->
      <li class="active"><a href="#add_processed_data_tab" role="tab" data-toggle="tab">Add processed data</a></li>
      <!-- Create the tabs for each processed data -->
      {% for pd, (class_icon1, class_icon2, color) in available_processed_data %}
        <li>
          <a href="#processed_data_info_{{pd.id}}" role="tab" data-toggle="tab">ID: {{pd.id}}&nbsp;
            <div class="{{class_icon1}}" style="color: {{color}};"></div>
            <div class="{{class_icon2}}" style="color: {{color}};"></div>
            <button class="close" title="Remove this processed data" type="button" onclick="delete_processed_data({{pd.id}})">&nbsp; ×</button>
          </a>
        </li>
      {% end %}
    </ul>
    <!-- Create the tab panes -->
    <div class="tab-content">
      <!-- Show the add processed data tab -->
      <div class="tab-pane active" id="add_processed_data_tab" style="padding: 10px;">
        <b>Not implemented! Coming soon...</b>
      </div>
      <!-- Create one tab pane for each processed data -->
      {% for pd, _ in available_processed_data %}
        {% module ProcessedDataInfoTab(study_id, pd, allow_approval, approval_deny_msg) %}
      {% end %}
    </div>
  {% else %}
    <!-- If there is no processed data we just show a message -->
    There is no processed data available
  {% end %}
</div>
