{% from qiita_pet.handlers.util import download_link_or_path %}

<div class="tab-pane" id="processed_data_info_{{pd_id}}" style="padding: 10px;">
  <a href="#" onclick="display_tab('preprocessed_data_tab', {{preprocessed_data_id}});">Preprocessed data</a><br/>
  <b>Processed data:</b> {{process_date}}<br/>
  <b>Files:</b><br/>
  <table border="0" style="margin-left: 10px;">
    {% for fpid, fp, ft in filepaths %}
      <tr>
        <td style="padding:3px;">
          {% set ft = ft.replace('_', ' ') %}
          {% raw download_link_or_path(is_local_request, fp, fpid, ft) %}
        </td>
      </tr>
    {% end %}
  </table>
  {% if btn_to_show == 'request_approval' %}
    <a class="btn btn-default glyphicon glyphicon-eye-open" onClick="request_approval({{pd_id}});" style="word-spacing: -10px;"> Request making this data private</a>
  {% elif btn_to_show == 'approve' %}
    <a class="btn btn-success glyphicon glyphicon-thumbs-up" onClick="approve_study({{pd_id}});" style="word-spacing: -10px;"> Approve this data to be private</a>
  {% elif btn_to_show == 'make_public' %}
    <a class="btn btn-success glyphicon glyphicon-thumbs-up" onClick="make_public({{pd_id}});" style="word-spacing: -10px;"> Make this data public</a>
  {% end %}
  {% if show_revert_btn %}
    <a class="btn btn-default glyphicon glyphicon-backward" onClick="make_sandbox({{pd_id}});" style="word-spacing: -10px;"> Revert this data to sandbox</a>
  {% end %}
</div>
