<div>
  <div class="panel-group" id="accordion-rd-info-{{rd_id}}-{{prep_template_id}}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="rd-info-{{rd_id}}-{{prep_template_id}}">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-rd-info-{{rd_id}}-{{prep_template_id}}" href="#collapse-rd-info-{{rd_id}}-{{prep_template_id}}" aria-expanded="false" aria-controls="collapse-rd-info-{{rd_id}}-{{prep_template_id}}">
            Raw data - {{rd_filetype}} (ID: {{rd_id}})
          </a>
          <button class="close" title="Remove this raw data" type="button" onclick="delete_raw_data('{{rd_filetype}}', {{rd_id}}, {{prep_template_id}})">&nbsp; ×</button>
        </h4>
      </div>
      <div id="collapse-rd-info-{{rd_id}}-{{prep_template_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="rd-info-{{rd_id}}-{{prep_template_id}}">
        <div class="panel-body">
          {% if raw_data_files %}
            <h4>Files linked to this raw data:</h4><br/>
            {% for fname, ftype in raw_data_files %}
              <i>{{fname}}:</i> {{ftype}} <br/>
            {% end %}
          {% else %}
            <h4>There are no files currently linked to the raw data. Choose from the following list:</h4><br/>
            <table class="table table-striped">
              <tr>
                <th>File</th>
                <th>&nbsp;&nbsp;&nbsp;</th>
                <th>File type</th>
              </tr>
              {% for f in files %}
                <tr>
                  <td>{{f}}</td>
                  <td>&nbsp;</td>
                  <td>
                    <select id="{{f}}" name="upload_file_{{prep_template_id}}_{{filetype}}">
                      <option value="">Ignore ...</option>
                        {% for fp_type in filepath_types %}
                          {% if rd_filetype == "per_sample_FASTQ" and fp_type == "forward seqs" %}
                            <option value="{{fp_type}}" selected="selected">{{fp_type}}</option>
                          {% else %}
                            <option value="{{fp_type}}">{{fp_type}}</option>
                          {% end %}
                        {% end %}
                    </select>
                  </td>
                </tr>
              {% end %}
            </table>
          {% end %}
        </div>
      </div>
    </div>
  </div>
</div>
