<div class="tab-pane" id="raw_data_tab" style="padding: 10px;">

  <ul class="nav nav-tabs" role="tablist" id="raw_data_nav_tabs">
    <!-- Nav tab: adding raw data -->
    <li class="active"><a href="#add_raw_data_tab" role="tab" data-toggle="tab">Add raw data</a></li>
    <!-- Nav tabs: one for each raw data available -->
  {% for rd_id, rd_filetype, _, (class_icon1, class_icon2, color) in available_raw_data %}
    <li><a href="#raw_data_info_{{rd_id}}" role="tab" data-toggle="tab">
      {{rd_filetype}} (ID: {{rd_id}})&nbsp;
        <div class="{{class_icon1}}" style="color: {{color}};"></div>
        <div class="{{class_icon2}}" style="color: {{color}};"></div>
      <button class="close" title="Remove this raw data" type="button" onclick="delete_raw_data('{{rd_filetype}}', {{rd_id}})">&nbsp; ×</button> 
    </a></li>
  {% end %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Show the add raw data tab -->
    <div class="tab-pane active" id="add_raw_data_tab" style="padding: 10px;">
      What file type is your raw data?
      <select id="filetype">
        <option value="">Not selected ...</option>
        {% for name, value in filetypes %}
          <option value="{{value}}">{{name}}</option>
        {% end %}

      </select>
      {% if other_studies_rd %}
        <br/><br/>
        You could also select raw data from other studies that you have access to:
        <br/>
        <select multiple class="chosen-select" id="previous_raw_data" data-placeholder=" ">
          {% for rd_id, study_name in other_studies_rd %}
            <option value="{{rd_id}}">id: {{rd_id}}, study: {{study_name}}</option>
          {% end %}
        </select>
      {% end %}
      <br/><br/>
      <a class="btn btn-primary" onclick="create_raw_data();">Add raw data</a>
    </div>

    <!-- Show raw data editor tabs -->
    {% for _, _, rd, _ in available_raw_data %}
      {% module RawDataEditorTab(study, rd, full_access) %}
    {% end %}

  </div>

</div>
