{% from qiita_pet.handlers.util import download_link_or_path %}

<div class="tab-pane active" id="study_information_tab" style="padding: 10px;">
  <b>Abstract:</b> {{abstract}} <br/>
  <b>Description:</b> {{description}} <br/>
  <b>Study ID:</b> {% raw id %} <br/>
  <b>PubMed IDs:</b> {% raw pmids %} <br/>
  <b>Principal investigator:</b> {% raw principal_investigator %} <br/>
  <b>Samples:</b> {{number_samples_promised}}/{{number_samples_collected}}<br/>
  <b>Metadata:</b> {{metadata_complete}} <br/>
  <b>EBI status:</b> {{ebi_status}} <br/>
  <b>EBI accession:</b> {% raw ebi_accession %} <br/>

  <hr>

  {% if show_select_sample %}
    Select your sample template or, alternatively, a QIIME mapping file <br/>
    (only files with the "txt" and "tsv" file extensions will be displayed here):
    <select id="sample_template">
      {% for f in files %}
        <option value="{{f}}">{{f}}</option>
      {% end %}
    </select>

    <br/>

    {% if not sample_templates %}
      If you are uploading a QIIME mapping file, please choose a data type:
      <select id="qiime_data_type">
        <option value="">Select an option...</option>
        {% for name, value in data_types %}
          <option value="{{value}}">{{name}}</option>
        {% end %}
      </select>
    {% end %}
  {% end %}

  <br/>

  {% if sample_templates %}
    <br/>
    You have a valid sample template, if you reprocess with a new file you <b>will lose</b> all prep and sequence information.
    <br/>
    However, modifying your sample template is fine.
    <br/><br/>
    <a class="btn btn-primary" href="/metadata_summary/?study_id={{study_id}}&sample_template={{study_id}}">Show sample template summary</a>
    </br>
    {% for stid, stpath in sample_templates %}
      <br/>{% raw download_link_or_path(is_local_request, stpath, stid, "Sample template") %}
    {% end %}
    <br/>
  {% end %}

  <br/>

  <table>
    <tr>
      {% if not sample_templates %}
      <td>
        <a class="btn btn-primary" onclick="process_sample_template();">Process sample template</a>
      </td>
      <td>&nbsp; &nbsp;</td>
      {% end %}
      {% if sample_templates %}
      <td>
        <a class="btn btn-primary" onclick="update_sample_template();">Update sample template</a>
      </td>
      <td>&nbsp; &nbsp;</td>
      <td>
        <a class="btn btn-danger glyphicon glyphicon-trash" onclick="delete_sample_template();"></a>
      </td>
      {% end %}
  </table>
</div>
